<div id="introModalParent">
<h1>Serious Job Seeker</h1>
  <ion-modal-view id="introModal">
  <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true">
    <ion-slide>
    <h1>Congratulations</h1>
    <img id="centerLogo"
        src='img/SJS-Landing.png'
        style=""
    >
    <p>You have just begun your journey as a <em>Serious Job Seeker</em>. To get started, swipe to explore the features available to you.</p>
    </ion-slide>

    <ion-slide>
    <img src="img/SJS-scrn-2.jpg" alt="">
    <p><strong>Swipe right or tap the upper right gear icon</strong> to save job notes during your journey, add important contacts, set reminders for important dates, view assesments and much more.</p>
    <p></p>
    </ion-slide>

    <ion-slide>
      <img src="img/timeScreen.png" alt="">
      <p><strong>Swipe left or tap the upper left icon</strong> to choose a chapter to explore and read. Each chapter has a wealth of information and interactive assessments.</p>
    </ion-slide>
    <!-- Keep empty slide as to trigger modal close -->
    <ion-slide></ion-slide>
  </ion-slide-box>
  </ion-modal-view>
</div>