

<div class="row">

<div class="col">
  <img src="" ng-show="picture" alt="" id="profilePic">
  <i ng-hide="picture" on-touch="getPhoto()" class="user-profile-blank icon ion-person"></i>
</div>
<div class="col">
     <blockquote>
  <p>{{quoteObj.quote}}</p>
  <footer>{{quoteObj.cite}}</footer>
</blockquote>
</div>
</div>


<!-- Desired career and points -->
 <!-- Desired Career -->
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Desired Career</span>
    <input type="text" placeholder="Desired Career">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Set Fulfillment Deadline</span>
    <input type="text" placeholder="Set Fulfillment Deadline">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
</div>
 



 <!-- Fulfillment Deadline -->
 <!-- Task Streak --> 



<!--Task? -->
<!--Check boxes -->




