<md-content class="md-padding">
<div layout="column" layout-fill>
    <!-- Profile Pic and Quote of the day -->
<div class="row">
  <div class="col">
    <img  class='profile-pic' src="/img/ionic.png" width='100px' height='100px' alt="">
  </div>
  <div class="col">
    <h3 class='quote'>Lorum Ipsum</h3>
  </div>
</div>  

<!-- Desired career and points -->
<div class="row">
  <div class="col"> <!-- Desired Career --> </div>
  <div class="col"> <!-- Accumlated Points --> </div>
</div>  


<div class="row">
  <div class="col"> <!-- Fulfillment Deadline --> </div>
  <div class="col"> <!-- Task Streak --> </div>
</div>

<div class="row">
  <div class="col"><!--Task? --></div>
  <div class="col"><!--Check boxes --></div>
</div>
</div>
  </md-content>



