
<!-- <ion-content ng-init="setScreen();">  --><!-- class="profile" -->
  
  <div align="center" style="background-color:#04402e; min-height:100%; min-width:100%;" 
      ng-controller="profileCtrl">
    <img id="landingImg"
        src='img/SJS-LandingCrop_one.png' 
        alt="Serious Job Seeker" 
        style="width:100%; max-width:200px; height:50%; max-height:350px;
          margin-top:10%;"
    >
    <br>
    <img src="img/SJS-LandingCrop_two.png"
      alt="SeriousJobSeeker"
      style="margin-top:15%;"
    >
    <img id="leftArrow"
    on-tap="buttonLeft()"
      src="img/leftArrow.png"
      alt="left"
      style="position:fixed;
        left:1%;
        top:40%;"
    >
    <img id="rightArrow"
    ui-sref="binder"
      src="img/rightArrow.png"
      alt="right"
      style="position:fixed;
        right:1%;
        top:40%;"
    >
    <br>
    <!-- Link to SeriousJobSeeker.com -->
    <!-- <a href="http://www.seriousjobseeker.com/"> -->
    <img src="img/sjsUrlLink.png"
      alt="SeriousJobSeeker.com"
      style="margin-top:20%;"
      ng-click="verifyNav();"
    >
    <!-- </a> -->
  </div>

  <!-- <div class="row">
    <img src="{{imageSrc}}"   alt="" id="profilePic">
  </div>
  <div class="row">
        <small class="edit-photo" on-touch="getPhoto()">Change Photo</small>

  </div>
 <div class="row">
       <blockquote>
       <p>{{quoteObj.quote}}</p>
       <footer>{{quoteObj.cite}}</footer>
          </blockquote>
  </div> -->

  <!-- Desired career and points -->
   <!-- Desired Career -->
  <!-- <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="Desired Career" 
        ng-model="user.career" ng-change="saveLocal('career')">
    </label>
    <label class="item item-input ">
      <input type="text" placeholder="Set Fulfillment Deadline"
      ng-model="user.deadline" ng-change="saveLocal('deadline')">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Email"
      ng-model="user.email" ng-change="saveLocal('email')">
    </label>
  </div>  -->
<!-- </ion-content> -->

 <!-- Fulfillment Deadline -->
 <!-- Task Streak --> 

<!--Task? -->
<!--Check boxes -->