<!-- TODO Build This out and style -->
<!-- TODO Highlight current section and sub section -->
<ion-content>
    <nav class="timeline" ng-repeat="content in contentOutline">
        <section class="main-section">
            <h3>{{content.leadIn}}</h3>
        </section>
        <ul class='sub-section' ng-repeat="section in content.sections track by $index">
            <li ng-class="{selected: section.isComplete}" 
            on-touch="jumpToSection({folder:content.folder,file:section.file})">{{section.title}}</li>
        </ul>
    </nav>
</ion-content>
