<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.prototype611949" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>SeriousJobSeeker</name>
  <description>



        App to help you find the career that fits you best



    </description>
  <author email="" href="">Serious Job Seeker</author>
  <preference name="orientation" value="portrait" />
  <icon src="logo/sjs-logo.png"/>
  <platform name="android">
    <splash src="logo/resources/splash/android/splash-land-hdpi.png" density="land-hdpi"/>
    <splash src="logo/resources/splash/android/splash-land-ldpi.png" density="land-ldpi"/>
    <splash src="logo/resources/splash/android/splash-land-mdpi.png" density="land-mdpi"/>
    <splash src="logo/resources/splash/android/splash-land-xhdpi.png" density="land-xhdpi"/>
    <splash src="logo/resources/splash/android/splash-port-hdpi.png" density="port-hdpi"/>
    <splash src="logo/resources/splash/android/splash-port-ldpi.png" density="port-ldpi"/>
    <splash src="logo/resources/splash/android/splash-port-mdpi.png" density="port-mdpi"/>
    <splash src="logo/resources/splash/android/splash-port-xhdpi.png" density="port-xhdpi"/>
  </platform>
  <platform name="ios">
    <splash src="logo/resources/splash/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="logo/resources/splash/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="logo/resources/splash/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="logo/resources/splash/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="logo/resources/splash/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="logo/resources/splash/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="logo/resources/splash/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="logo/resources/splash/ios/Default-667h.png" width="750" height="1334"/>
    <splash src="logo/resources/splash/ios/Default-736h.png" width="1242" height="2208"/>
    <splash src="logo/resources/splash/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
  </platform>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>