<p>RESEARCH YOURSELF AND THE EMPLOYER - Know yourself thoroughly: your goals, your interests, your values, your strengths and your weaknesses. Employers will be asking you questions on all of these topics to see how well you fit with the position for which they are hiring. Take time and write out lists. Start by listing your long-term and your short-term goals. Where do you want to be in 3 to 5 years? Where do you want to be in 7 to 10 years? What are your interests? What knowledge do you have that you really want to apply? What are your greatest strengths? What are some of your weaknesses, and what are you doing to improve?</p>

<p><b>What happens during the interview</b></p>  


<p>RELAX - Interviews are just like any conversation with a new person. Employers will size you up based on how relaxed you are, if you are dressed professionally, if you know how to shake hands and just how well you handle meeting new people for the first time. Little things like showing up a little early, smiling, being confident and being extremely well prepared make all the difference in the world. I recommend that you show up at least 20 minutes early to use the restroom, do breathing exercises and review your notes, your resume, and your portfolio before your interview.</p>

<p><b>What to do after an interview</b>

Always follow up after an interview with a phone call in 2 to 3 days. Tell them that you are “checking on the status of your application” and that you are very interested in the job. One employer told me that he waited for candidates to follow up with a phone call and did not hire anyone who did not call. Many people are afraid of being pesky. Very few of the people I work with are pesky. Technical people are much more likely to let the ball drop than to be pesky in this situation.know.

</p>

