<p><b>Breaking The Ice Phase</b></p>

<p>Arrive 30 minutes early! Relax and tell yourself “if this job doesn’t come through, something better will”. When called for your interview, start with a warm, firm handshake and a smile as you introduce yourself. Maintain eye contact when speaking to your host/interviewer. This is a formal interview so don’t be too casual or familiar with the people you meet. Be polite and courteous. Ask for a business card to help you remember their name and functional area.</p>

<p><b>Sharing General Information Phase</b></p>

<p>Once you are seated your interview will begin with broad open-ended questions like “Tell me about yourself”; “Why did you choose this field?”; “Why are you interested in our company?”; “Why are you interested in this position?”; “What courses did you enjoy the most?”; “What are your long term/short term goals?”; “Tell me about your work experience.” They will also ask personality trait questions like “What is your greatest strength?” and behavioral questions like “Give an example of how you used this strength to solve a problem in a team project?”; “What is your greatest accomplishment and why?”. Show them your portfolio during this stage if you can work it into an answer. </p>

<p><b>Technical Questions Phase</b></p>

<p>This phase is like a final exam. The technical questions you will be asked will stretch your technical expertise to the limit. Be prepared to cover material that relates to the company’s mission, products and industry. This is where your research and course review will pay off. Be prepared to be intensely questioned on the field-specific courses you have taken and anything you have listed on your resume. Spending 6 hours studying before the interview is standard. </p>

<p><b>Interviewing The Interviewer Phase</b></p>

<p>This is your opportunity to shine. If you have done your homework you will be able to ask good questions about the company’s position in the industry, training programs, initial project that new college grads work on and anything you can glean from headlines or professional journals. A recent successful candidate with an energy regulatory agency asked questions about a current crisis that was in the news and featured in technical journals. The interviewers were very impressed.
 </p>


<p><b>Summary Phase</b></p>

<p>At this point the interviewer will ask, “Do you have anything to add?” You will want to think back over what you have included thus far and add anything you have not covered yet. It is also your opportunity to summarize your most important points (senior project, pertinent work experience and class experience. Make sure you pop out your portfolio if you have not already done so.
 </p>

 <p><b>Wrap Up and What’s Next Phase</b></p>

<p>This is your last shot. Tell them you really want the job. Ask about further steps you should take (completing an application form, sending transcripts, sharing references). Also ask when you can expect to hear from them. Ask for a business card if you have not already gotten one. When leaving shake hands, and thank them for the interview with a big smile. Tape the business card into your note book and debrief. Then send an email thank you note immediately!
 </p>

