<p>
1.Why are you interested in our company?<br>
2.What do you know about our company?<br>
3.What do you know about the position?<br>
4.What makes you qualified for this position?<br>
5.What are your long-term goals (i.e. what do you want to accomplish in the next 5-7 years)?<br>
6.What are your short-term goals (i.e. what do you want to accomplish in the next 3-5 years)?<br>
7.What are your greatest strengths?<br>
8.What are your weaknesses?<br>
9.How would you describe the ideal boss?<br>
10.What tools do you believe you will need to be successful in your career?<br>
11.What courses did you enjoy the most during your education? Why?<br>
12.What courses did you like the least? Why?<br>
13.Be prepared to answer very tough technical questions that relate to your major and the specific employer you are interviewing with.<br>
14.What courses gave you the most difficulty? Why?<br>
15.Describe your senior/masters project.<br>
16.What was the most challenging aspect of your senior/masters project?<br>
17.What conflicts arose during the course of your project? How did you resolve the conflicts?<br>
18.How would the members of your team describe you?<br>
19.Describe any leadership roles you have had during the past 4 years.<br>
20.Do you prefer to work in teams or alone?<br>
21.Describe your related work experience. What did you learn? Why was it important?<br>
22.What is communication and why is it important to your success in a company?<br>
23.Do you have anything to add?<br>
24.Do you have any questions?</p>

