<p>A meal, dinner, lunch or even breakfast might easily be the first stage of your interview. You will need to traverse a minefield of dining mistakes that could cost you the job. Even after you get the job, you will profit or suffer because of your manners. Good manners are always in style. Never forget that!</p>

<p>In life it’s the little things that matter, the little things that make an impression: a smile, a door held open, a thank you note, and nice table manners. These are the things that get noticed and that make you stand out. Or maybe it is the absence of the little things that make an impression. Good manners mean that you have good judgment. That is really important to potential employers.</p>

<p>One candidate that I worked with could have used some help on his table manners. He clearly forgot everything his mother told him. He flew all the way to Detroit, Michigan to interview for a job with GM (at their expense!). His interview started with breakfast at 7 AM along with a group of other new grad candidates from across the country. By 7:30 AM he had blown the entire interview. How could that be? He ordered steak and eggs... because it was on the menu... and he could. (He was thrilled to be able to order such a treat, forgetting that the job interview was the big event he was in Detroit for). Then, when confronted with a dull knife, he proceeded to fork the steak and lift the entire thing to his mouth. (It was a small little steak, he told me later). As he opened his mouth to take a bite, he looked up and saw the entire assemblage around the table open their mouths and stare in horror. He knew immediately it was over. Needless to say, no offer came at the end of the day.</p>

<p>My daughter was recently in a position to give input on who was hired to replace her when she left her internship. Each person let down their guard when they were in the room alone with her after the interview to ask questions, not knowing she would be sharing her impressions of candidates with the employer. The lesson is treat everyone you meet on site at the interview as though they will be part of the decision!</p>

<p>Sometimes when people are nervous they forget the most obvious little things. Good manners are basic common sense. Sometimes we get out of the habit of using our best manners. But manners are essential to your success in life. They are the lubricant that make social interactions run smoothly. The absence of good manners can make an otherwise good situation turn sour.</p>

<p>Here are a few essential etiquette rules to help you in your dining and social interactions:</p>

<p><b>Before your meal:</b></p>

<ul>
<li>Show up early. Take time to collect yourself in the restroom. Breathe. A relaxed candidate makes a much better impression.
Turn off your cell phone when you enter the building for your interview and keep it off until the interview ends and you are out of the building.</li>
<li>Turn off your cell phone before entering a restaurant if possible, but definitely before you sit down at the dining table. What call or text message is more important than the interview at this moment?</li>
<li>Always hold the door open for the next person. Having a door slam in your face definitely makes an impression...</li>
<li>Always let the woman go through the door first. (This is so rarely done that it really makes you stand out if you are being interviewed by a woman or a man). If you are holding the door, turn around and look to see if there is anyone else behind you before letting it go. 
</li>
<li>Do not smoke at anytime, before, during, or after your interview. (As a matter of fact, quit smoking now if you do. Some companies screen you out if they detect the smell of tobacco smoke... it will cost them more to insure you).</li>
<li>Do not place your briefcase or purse on the dinner table. Set them on the floor near your chair.</li>

</ul>

<p><b>Ordering your meal:</b></p>

<ul>
<li>Do not order the most expensive thing on the menu. It shows bad judgment.</li>
<li>Do not order things that are difficult to eat. The barbecue ribs might sound good but they are too much of a challenge to be appropriate in an interview or business lunch.</li>
<li>Do not order any form of alcohol even if invited to do so. This is not the time to let your guard down, get silly, or fall asleep.</li>
</ul>

<p><b>During your meal:</b></p>

<ul>
<li>Your napkin is not a bib. Do not tuck it into the neck of your shirt. Lay your napkin on your lap as soon as you are seated.</li>
<li>Do not slouch! Sit up straight throughout the meal and keep your elbows off the table.</li>
<li>Wait to eat each course of your meal until everyone at the table is served. It is easy to forget this when you are hungry. Tip: eat an energy bar or some yogurt before you go out to eat. Then you will be able to focus on what is important... making a good impression and getting the job.</li>
<li>Eat slowly, this is not a race. If your food is hot; wait for it to cool; do not blow on it.</li>
<li>Cut things into small, bite size pieces so that in between bites you can join the conversation easily.</li>
<li>Do not split meals with anyone and never eat off of someone else's plate even if they offer. Decline politely. If you do not finish your meal, do not ask for a doggy bag. (You are not your grandmother).</li>
<li>Never, never, never talk with your mouth full. Spraying food bits across the table was funny at age five. It is a deal breaker in an interview.</li>
<li>Do not hover over your food and shovel it in. Sit as erect as possible and bring your fork up to your mouth.</li>
<li>Never lick your fingers - use your napkin! </li>
<li>Do not announce you need to use the restroom; just excuse yourself politely.</li>
</ul>

<p><b>The importance of being pleasant: You are being judged!</b></p>

<ul>
<li>Do not correct anyone or argue a point at the table. Eating should be relaxing.</li>
<li>Be very polite to the servers. Do not comment if the service is inferior. It is like spitting out of a moving car window... it flies back on you.</li>
<li>Listen to the other people at the table. Do not monopolize the conversation.</li>
<li>Be careful to share only good things. Do not let your guard down for a moment, even when you think you are just talking to the intern ... She probably has a say in who is going to be hired.</li>
<li>Send a thank you note to everyone you meet during your interview visit.</li>

</ul>

<p>In the larger scheme of things, it's the little things that make you stand out, the little things that make an impression. Lets make a good impression!</p>