<div class="post-body">
<style>.fullpost{display:inline;}</style>
<p><b>Body Language</b><br><br>

<b><i>Eye contact:</i></b>  In many cultures, it is considered courteous to look down when one is speaking to an authority figure.   However, in the United States, people greatly value direct eye contact.  If you look down or away, people view you as not being confident or trustworthy.  Therefore, direct and sustained eye contact is very important.<br><br>

Do not bow your head or look up through your eyelashes.  Americans view this as submissive and indicative of a lack of confidence.   If you need to think, look up--not down.  Looking down makes you appear to lack confidence.<br><br>

<b><i>Posture:</i></b>  It is important to sit and stand as straight as possible.  The straighter your posture, the more confidence you project.  Relatedly, try not to cross your arms or legs.  In the United States, this is viewed as being defensive and not open.<br><br>

<b><i>Gestures:</i></b> It is acceptable to use a few facial or hand gestures but do not use too many. Using too many gestures makes you appear nervous.<br><br>

Be sure to smile occasionally.  Americans smile more than people from many other countries.  If you never smile, American employers will think you are unfriendly and unapproachable.<br><br>

<b>Rate, Volume, and Intonation of Speech</b>

<b><i>Speed Rate:</i></b> It is extremely important to not speak too fast.  The biggest mistake most people make during interviews is speaking too quickly.  Interviews are stressful by nature and the inclination is try to finish an answer as soon as possible.  Rapid speech makes you look nervous and less confident.  It is best to speak slowly, and pause occasionally.  This will make you appear more confident and more knowledgeable.<br><br>

<b><i>Volumn:</i></b> Another mistake made in interviews is speaking too softly.  In some cultures, speaking softly is a sign of authority and power.  In the U.S., speaking softly often means that you lack authority and lack confidence.   Be sure to speak loudly enough.   <br><br>

Do not "trail off" at the ends of sentences.  Keep your volume or loudness at a good level until you have reached the end of your sentence.<br><br>

<b><i>Intonation:</i></b> End sentences with a slightly downward inflection.  If you end sentences with a slightly upward inflection, you sound hesitant and uncertain. <br><br>

You also sound hesitant and uncertain if you use a number of qualifiers.<br><br>

For example:<br><br>

<i>"I think that, perhaps we might talk about this--I could be wrong, but..."</i><br><br>

Let your intonation vary.  If you speak in a monotone, people will think you are boring.  People who speak with varied intonation patterns sound more interesting and intelligent.<br><br>

<b>Pronouncing English Sounds and Words Correctly</b><br><br>

One pattern that is characteristic of many speakers of English as a foreign language is dropping the ending sounds off of words.  This happens because in many languages, words end in vowels.  In English, many words end in consonants and it is important to pronounce these consonants clearly.  If you drop off the last consonant in the word, Americans will not understand you as well.  Practicing can help you improve your pronunciation.<br><br>

</p><table border="0" width="600">
<tbody><tr>
<td><b><i>Practice words:</i></b></td>
<td>cat</td>
<td>sheep</td>
<td>glass</td>
<td>goat</td>
<td>dog</td>
<td>bed</td>
<td>desk</td>
<td>match</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>pick</td>
<td>bus</td>
<td>tape</td>
<td>cab</td>
<td>luck</td>
<td>leaf</td>
<td>heart</td>
<td>leg</td>
</tr>
</tbody></table>
<br>

In some languages, words only contain one syllable. In English, many words are polysyllabic.  It is important to pronounce all the syllables slowly and clearly.  This will help you sound clearer when you speak.<br><br>

<table border="0" width="600">
<tbody><tr>
<td><b><i>Practice words:</i></b></td>
<td>elephant</td>
<td>telephone</td>
<td>interviewing</td>
<td>punctuality</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>specialization</td>
<td>congratulations</td>
<td>computerize</td>
</tr>
</tbody></table>
<br>

Stretch out your vowels.  Many speakers of English as a foreign language "clip" or shorten their vowels. Americans have great difficulty understanding these speakers.<br><br>

<b><i>Warm-up Exercises for the Best Voice and Pronunciation</i></b><br><br>

When Americans speak, they open their mouths wider and move their lips more than speakers of many other languages do.  It is a big adjustment for many speakers of English as a foreign language is to learn how to do this.  It feels quit uncomfortable at first!  But the more you open your mouth and move your lips when you are talking, the more easily Americans will understand you.<br><br>

Additionally, if you speak with a tight jaw and very little lip movement you will make a bad impression because you will sound like you are mumbling.  Speaking with an open and relaxed jaw, and good lip movement, makes you sound clear, relaxed, and authoritative.<br><br>

Warm-up exercises can help.  You can do these at home before your interview:
<ul>
a.  Yawn as wide as you can and say "yah."  Do this 5-6 times.<br>
b.  Say "uuu-eee" as fast as you can 10-12 times.<br>
c.  Say "ma-may-mee-mo-mu" 5 times<br>
d.  Say "ta-tay-tee-to-tu" 5 times<br>
e.  Say "ka-kay-kee-ko-ku" 5 times
</ul>
Say the following words, opening your mouth as wide as possible on the first sound of each word.  Move your lips as much as you can when pronouncing each word:<br><br>
<table border="0" width="600">
<tbody><tr>
<td>opera</td>
<td>owl</td>
<td>always</td>
<td>hour</td>
<td>outside</td>
</tr>
<tr>
<td>awful</td>
<td>oddly</td>
<td>army</td>
<td>ought</td>
<td>olive</td>
</tr>
<tr>
<td>almodoffice</td>
<td>office</td>
<td>opposite</td>
<td>ostrich</td>
<td>option</td>
</tr>
</tbody></table>
<br>
<b>Other Helpful Tips and Strategies</b><br><br>

Do not use interjections such as "um, you know."  Employers react very negatively to this.  Who sounds more confident and knowledgeable?
<ul>
 <i>Weak delivery:</i>  "I um, I know that um, you know, I have the um, skills for this job."<br>
 <i>Strong affirmative delivery:</i>  "I know that I have the skills for this job."
</ul>
Watch the <u>pitch</u> of your voice.  If your pitch is too high, you will sound like you are not confident or sure of yourself.  <br><br>

Try to do the interview in person, not over the telephone.<br><br>

Do not be afraid to ask the interviewer to repeat a question if you do not understand it.<br><br>

Do not use too many "feeling" words.
<ul>
  <i>Weak delivery:</i>  "I feel that I would be good for this job" 
    <ul>
or "I think I have the qualifications."  
</ul>
<i>Strong affirmative delivery:</i>  "I would be good for this job."  "I have the qualifications."
</ul>
Try to avoid clearing your throat as this will make you sound hesitant.  Instead swallow or take a deep breath.<br>
<p align="right">
©Celeste Roseberry-McKibbin<br>
used with permission
</p>


</div>