<div class='compare'>
		<!-- First Choice -->
			<div class="row">
			 	<button class="personality button button-full button-positive" on-touch="nextPair(pairs[index][0])">{{pairs[index][0]}}</button>
				<span class="personality-info"></span>
			</div>
			<div class="compare-or">
				<h6>OR</h6>
			</div>
			<div class="row">
				<button class="personality button  button-full button-positive" on-touch="nextPair(pairs[index][1])">{{pairs[index][1]}}</button>
				<span class="personality-info"></span>
			</div>
	<div class="compare-or"><small>{{pairs.length - index}} Remaining</small></div>
</div>