<p>Immediately after the interview, document the contact and place the information in your career binder.   Here's the template I showed you when we were talking about your career binder.</p>

<p>Remember what I said before: even if you keep your contact information in a database, you still need to have this information in hardcopy where you have a place where you can quickly take notes. You need to keep everything organized for easy access and review! </p>

<p>Staple the person's business card to the form, and make sure you have written down the names of everyone they referred you to. </p>

<p>Next, "debrief" yourself.  You can do this on the contact form. Make sure you have answered the following questions:</p>

<p>What did I learn?
How does what I learned fit with my skills, values and interests?
What else do I need to know? Who else do I need to talk with?
Then, before the day is out,    send a Thank you note.   It only needs to be a few lines long. Express your appreciation and tell them what you plan to do next. </p>

<p>Finally, review the notes you've taken:  Are there any other action steps to be taken on the basis of the information you obtained? </p>

<p>At the end of each interview, it is time to make certain that you have your next informational interview set up. A really good interview is one that has provided you with names of more people to speak with. </p>

<p>The really best interview is one where you learn that you have found an approachable organization, one that has job opportunities that you can start considering and following up on.</p> 

<p>The more of these interviews you do, the more likely it is that you will find a company you want to work for and it will be time to start tailoring your presentation (i.e., your resume) to secure that position.</p>