<p>The basic approach to an informational interview:</p>

<p>You are in the process of making some decisions about your career, and you want to learn more about the opportunities in a given field for someone with your skills and experience. There is a lot at stake in terms of your future,  so you want the best information you can get.</p>

<p>Be prepared for a response such as:  "I think our human resources people can probably answer your questions."</p>

<p>You may want to respond with: "I'm sure that would be true if I were looking for a job,  but I'd like to talk with you because ________ told me you could give me the best advice and suggested that I would benefit from your experience and insight."</p>

<p>How to start your informational interview and questions you can ask:</p>
<p>Start your interview with a brief statement reminding the person you are talking with why you are there,  who referred you,  and what you hope to gain.   Example:  "I am interested in exploring careers in the __________ field.   I am trying to get a better understanding of what a person does in this field and what it takes to be successful in this field and how to get into the field. I was referred by so and so who said you'd be a good person to talk with."</p>
<p>
What do you do? - Your job title?   Ask for a business card at this point.
How did you get involved in this field?
What is your background?  -  What other types of backgrounds do people in this field have?
What kinds of projects or activities do you work on?
What types of skills are needed for this field? What makes someone successful in this field?
What is a typical day like?
What do you like best about your job?
What do you like least about your job?
What areas in the field are growing?
How is the future of the field changing?
How is this field tied to economy? How is it being affected by the current economic climate?
What are the entry-level jobs in this field?
What is the salary range for entry-level jobs?  Top-level?
Is there much upward opportunity or room for career growth?
Can you recommend any sources of information for this field - professional associations, publications, or conferences? Who are the other key players in this industry?
Are there any drawbacks to a career in this field or in this industry?
Can you give me the names of any other people that I might speak with for more information?
</p>
<p>There are dozens of questions you may want answered,  so think about them carefully before you arrive at your interview.  Write your questions down just in case you get nervous,  but don't get too rigid or just read them off.  Be sensitive to the time constraints of the person you are talking with and remember you asked for 20 minutes.</p>

<p>Remember,  this should seem like a conversation and not an interrogation.</p>

<p>The key to this whole process is enthusiasm.   If you are truly interested in a topic, that will shine through.   When it does,   the person you are talking with will most likely respond positively.</p>