<p>The vast majority of people who attend job fairs are uncertain about what to do next.  They connected with interesting possibilities, but they are at a loss about how to close the deal. </p>

<p><b>Job seeking is a contact sport.</b>  You have to interact with people to get hired.  It is not easy for the timid.  It is not something that comes natural.  No one really tells you how to do it when you are growing up. Job seeking for the first time is like jumping off of a cliff… You have to throw yourself out there. </p>

<p><b>Most jobs are never posted.</b> Jobs do not just fall into your lap. The fact is that people who go direct and connect with people are the ones who find the jobs! You have to get out there and meet people who have the power to hire you or the people who can connect you to them.</p>

<p>Whether you were intimidated or totally at ease with meeting potential employers, after a job fair you need to take it to the next level.  You have to take the leap… If you found an interesting company, you have to go beyond the job fair to an on site visit and then you have to turn it into a job offer.  You need to learn as much as you can about a potential employer and work environment to see if it is a good fit.  The only way to do that is to actually visit.</p>

<p><b>Ask for a second date – Information Gathering.</b> Connecting directly with people by informational interviewing gets you inside companies to see what really goes on and to explore career options and opportunities with the people who really know – people who are doing what you want to do! This is by far the best way to find out about jobs and to get connected to the job you want!  They are also the ones who really know what jobs are available and what the immediate hiring needs and trends are.  And they know who you should talk to next.</p>

<p><b>Instructions for your Informational Interview</b></p>

<p>
	<ul>
		<li>Using your contacts from friends, family, faculty, or by making a cold call, contact someone who is doing something that you would like to do or a company you would like to work for.  You might even call someone who is mentioned in an article.</li>
		<li>Write a short introduction as to why you are calling to use while you are begging for a short meeting, just in case you get nervous after you make the call.</li>
		<li>Call and schedule an appointment to meet in person.  Ask for 20 minutes, but plan that it will take as much as 1 to 2 hours.</li>
		<li>Ask open-ended questions.  The entire process with questions to ask is described in Chapter 8 of The Serious Job Seeker</li>
		<li>Be sure to get other names of individuals you might contact before leaving your informational interview.  You will want to talk to lots of people in your field to see all the different places that employ people in your chosen field. To get a job you are going to need to network your way into as many companies as you can.  So getting the names of other people at the company of the person you are talking to and names of other individuals at other companies will help you move from company to company or from division to division within a company.</li>
		<li>Write notes on the results of your Information Gathering visit.</li>
		<li>Send a thank you note!  Tell them  what you are doing to follow up on the advice they gave you.</li>
	</ul>
</p>
	
<p><b>Connections are important for success in Information Gathering.</b> It is easy for someone to blow off a complete stranger.   People are usually going to be more helpful when you can tell them who sent you and how you are connected.</p>

<p>When you call to ask for an appointment, be sure to explain that you are exploring your options and that you are a student, a recent graduate or someone who is thinking about making a career change.</p>

<p>Be sure to meet with them on site, not on the phone. You will get so much more information and you will forge a much tighter relationship for future hiring possibilities. </p> 

<p>People are impressed when someone takes the time to come in and ask questions. There are dozens of questions you may want answered, but think about them carefully before you arrive at your interview. Be sensitive to the time constraints of the person you are talking with and remember you asked for just 20 minutes.</p>  

<p>The main questions you want to ask your contact is what they do, what is required to be successful in the field, and what advice they would give to someone considering a career in their field or a job with their company. If you decide that you are interested in their organization, be sure to ask about the best way to get in. You also want to ask if they can recommend other people for you to talk with to gather more information.</p>