<p>How to arrange an Informational Interview</p>

<p>Telephone the person you are interested in talking with and request a meeting. 
Explain that you are exploring your career options. 
Tell them who referred you to them and explain that you really are just seeking advice. </p>

<p>You absolutely must follow up this phone call with an email confirming your appointment and indicating how much you are looking forward to meeting with them.</p>

<p>Always tell the person that you are seeking to meet with that you need only 20 minutes of his or her time to meet at his or her convenience.  Most people - even the busiest - have 20 minutes to share with a person exploring a career field.  (Your appointment may last longer,  so don't book yourself too tightly.)</p>

<p>Remember these important rules:</p>

<p>If you call or write, be absolutely clear in how you present your request.  You must avoid allowing the person you wish to see, the receptionist or the secretary to assume that you are seeking a job interview. Some individuals have had luck just dropping in and requesting to meet with an individual in a particular department. This is a little dicier than making an appointment.</p>

<p>Don't be late.  Get there on time.  The person you are seeing is doing you a favor.  Be businesslike and dress professionally.  You don't want to dress like you are there for a job interview,  but you want to look nice.  Slobs don't get jobs!</p>

<p>Don't bring a resume!!!   You can send one after your informational interview,  tailored to the needs of the company,   if it seems appropriate.</p>

<p>Prepare your questions beforehand and write them down to take with you.  Ask yourself what you need to know about the occupation, firm or industry.   Do your homework!!!</p>