<p>The key strategy you are going to employ to find a job is to network and go out and conduct informational interviews.  That is how it works.  This is by far the best way to find out about jobs and to get connected to the job you want!</p>

<p>Yes,  you want to look for jobs that are posted or advertised.</p>  


<p>But you need to know that 80% of the jobs out there are never posted.  Some people call it the "hidden job market."   And the fact is that people who go direct and have a conversation with someone are the ones who find the jobs!</p>

<p>The most important tools you need for finding a job are information and contacts:
You gather information by using published sources.
You gather more critical and timely information through informational interviews.
You use your network of contacts to find and get connected with people to interview.
You get the people you interview to give you more contacts. 
Informational interviewing is a tool used by job seekers to help get inside companies to find out about what really goes on in various fields, and to explore career options and opportunities with the people who really know.</p>

<p>The people you interview are the ones who really know what jobs are available and what the immediate hiring trends are.  They know who you should talk to and where you should look.</p>

<p>The important thing to keep in mind is that if you ask someone if they have a job,  they're probably going to say "no."  That's the end of the conversation.  Their response is usually going to be different if they know that you're just looking for information:  you want to learn from them,  you're not expecting them to give you anything,  all they have to do is share their knowledge and their expertise.</p>

<p>When you ask someone to spend a bit of time speaking with you,  they are also more likely to say "yes" and let you in the door if you can say:  "this is who told me I should speak with you."  It's always easy for someone to blow off a complete stranger.   People are usually going to be more helpful when you can tell them who sent you and how you are connected.</p>