<p><b style="font-style:italic;">If you are serious about finding a good job, the right job, you need to gather information and keep it organized.</b> You need to be able to access the information you need when you need it, quickly and efficiently. Don't assume that it's OK to just create another stack of papers on your desk or that you can just throw everything into one drawer. This is serious business.</p>


<p>The <b style="font-style:italic;">BEST</b> way to organize your job search is to put together a binder to keep track of the ideas, applications, and contacts you make during your job search. In fact, to keep your career search materials organized,  <b style="font-style:italic;">using the Career Binder is absolutely essential!</b></p>

 <p>
 	<b style="font-style:italic;">The Career Binder in this app has everything you need to keep track of your personal journey towards finding the career that's perfect for you!</b> 
 </p>
<p>
 The sections in the binder include the following and should be used as described in order to single out and maintain the necessities of becoming a professional in your desired field:

<ul> 
	<li>
		<b>Ideas & Inspiration:</b> This section will hold any and all of your sudden ideas that might help affect your career searching journey in a positive way.
	</li>
	<li>
		<b>To-Do List:</b> Your to-do list should be used daily. It is meant as an immediate guide to look to what tasks should be completed in your daily routine. Include "tasks to be done", "appointments to be made", "projects to work on", etc.
	</li>
	<li>
		<b>Calendar:</b> Separate from your to-do's is your calendar. This section is critical for keeping track of appointments, interviews and deadlines.
	</li>
	<li>
		<b>Assessment Results:</b> This section will contain all the results from the assessments to be completed. The information is critical in developing your resume and when considering which career field to be chasing after.
	</li>
	<li>
		<b>Professional Contacts:</b> This section is for keeping track of all the valuable contacts you will make.It is important to separate your professional contacts from all of the contacts in your phone and keep notes on each one. Still, all contact information inserted here will also populate the contacts in your phone as well.
	</li>
	<li>
		<b>Job Applications:</b> Here is where you will keep track of the large amount of job applications you will be sending out. Jot down basic information about each job applied to here and reference it when a company calls you back after an extended period of time.
	</li>

</ul>

</p>
