<table>
	<tr>
		<td>Name:</td>
	</tr>
	<tr>
		<td><input type="text" ng-model="contactObj.displayName"></td>
	</tr>

	<tr>
		<td>Phone Number:</td>
	</tr>
	<tr>
		<td><input type="text" ng-model="contactObj.phoneNumbers[0].value"></td>
	</tr>

	<tr>
		<td>Email:</td>
	</tr>
	<tr>
		<td><input type="text" ng-model="contactObj.emails[0].value"></td>
	</tr>	

	<tr>
		<td>Organization:</td>
	</tr>
	<tr>
		<td><input type="text" ng-model="contactObj.organizations[0].name"></td>
	</tr>	

	<tr>
		<td>Note:</td>
	</tr>
	<tr>
		<td><input type="text" ng-model="contactObj.note"></td>
	</tr>
</table>