<p>
	This app is for the serious job seeker. It will serve as your guide to the career job search process. It provides the tools necessary to create and implement an effective, proactive, career development plan.
</p>

<p>
	This app is not about how to find a job, or just any job. It is a guide on how to develop a career life plan that secures the next job that is right for you. It will help you assess each career move you make relative to how you really want to live your life. It will help you develop a planful life rather than a random existence.
</p>


<p>
	As a serious job seeker, you will face a series of challenges or tasks to be mastered. There are actually a number of ways you might go about finding a job, but you want to do it the smart way and in the most effective fashion, especially if you want great results.
</p>

<p>
	You can think of it like taking a vacation in a place you have never visited before. You could just grab a bag and go, but it makes more sense to do some planning, read about the locale, talk to people who have been there, make a packing list, and get some reservations. There are many ways to ruin a vacation. Most of the pitfalls can be anticipated and avoided.
</p>
