<p>As a serious job seeker, you will face a series of challenges or tasks to be mastered. There are actually a number of ways you might go about finding a job, but you want to do it the smart way and in the most effective fashion, especially if you want great results.</p>

<p>You can think of it like taking a vacation in a place you have never visited before. You could just grab a bag and go, but it makes more sense to do some planning, read about the locale, talk to people who have been there, make a packing list, and get some reservations. There are many ways to ruin a vacation. Most of the pitfalls can be anticipated and avoided.</p>

<p>In planning your career, there are five challenges you face:
Organization
Awareness
Focus
Strategy
Presentation</p>

<p>What I have found is that when students or clients decide to see me for individual career assistance, they are invariably focused on or stuck on one of these specific challenges.</p>

<span style="align:center;">Organization</span>

<p>Organization refers to your ability to maintain documents, notes, contacts, correspondence, schedules and appointments in an orderly fashion. The serious job seeker knows that career planning involves developing a significant level of organization around the career planning and job search process.</p>

<p>Awareness</p>

<p>Awareness refers to your understanding of events happening in the world around you.</p>

<p>Focus</p>

<p>Focus refers to the task of gathering information about yourself. In other words: self-assessment.</p>

<p>Strategy</p>
<p>Strategy refers to your ability to conduct the career development and job search process with a plan, and in a proactive and systematic fashion.</p>

<p>Presentation</p>
<p>Presentation refers to your ability to look your best in person, on paper and on the phone.</p>
