<p><b>There are four basic elements to the process of finding the perfect job:</b></p>
<ul>
	<li>Self-Assessment</li>
	<li>Researching Career Options</li>
	<li>Job Search Strategy</li>
	<li>Presenting Yourself</li>
</ul>
<p>
Most people just want to write a resume and get it out on the web, or just file an application and be done with it. This is not a serious approach to job seeking.
</p>
<p>
Before you write your resume or file that application, you need to go through the preliminary steps that are essential to finding the right job. You have to seriously engage the process of self-assessment and career exploration. You have to research the market and research your options. When you present yourself in writing or in person, you need to be focused on the needs and expectations of particular employers you have identified through a strategic job search.
</p>