<p>Whether you start your career search in good times or in bad times, there are always a lot of opportunities for serious job seekers. A positive attitude goes a long way towards opening doors and creating opportunity.</p>

<p>No matter when you start your search, you have to believe that now is a great time to be looking for a job. Believing that is a key to success.</p>

<p>If you are a serious job seeker, you do not qualify to be permanently unemployed. You have to understand that you are not struggling to find a position. You are simply trying to find the job that fits with your needs and that meets your requirements.</p>

<p>Looking for work in the new millennium, you are in a good position to make a difference in this world. You will be called upon to solve many of our most vexing problems: educating our children; cleaning the air; developing alternative energy solutions; dealing with waste and waste water issues; transporting people, goods and services more efficiently; creating community; solving poverty; creating better technology; and building stable, secure and affordable infrastructure.</p>

<p>If you are a thinker, a dreamer, a writer, or problem solver, there is no end to the opportunities that await.</p>

<p>Here is some advice to help guide you on this this journey:
Set ambitious goals and work hard to make them happen.
Get help and advice from successful people- they can tell how they got there.
Learn from your mistakes and move forward - you will learn more from your failures than you will from your successes.
When you have a set back, view it as opportunity - pick yourself up and find a better place and a better way to proceed.
Reinvent yourself regularly - things change, so should you.
Give back after you get there - help others to achieve their goals too.
Don't worry about whether you've got enough, worry about whether you have given enough.
Take a good long vacation every year with the people you love! You need time away from work to make your work productive and meaningful.</p>

<p>This life is not a race to the finish. It's a journey to be enjoyed and savored.  It's what you do in between that makes a difference. You will have many choices in life. You are not bound to any destiny. You get to choose how you will spend your time and how you will live your life. Make sure that you choose wisely.</p>