<p><h3>Tying Skills to Accomplishments: Introduction</h3></p>

<p>
Now that you have identified your skills, you need to be able to tell an employer how you have demonstrated that skill in a real life situation. An employer might say: "So you say that you are good at project management. Give me an example of a situation where you have used that skill". Or "Describe to me an accomplishment you feel good about where you demonstrated this skill."
</p>
<p>
Your next move is to "own" your skills. You need to search your memory for experiences that you can recall to backup your ownership of a particular skill. The accomplishments do not necessarily have to be from your work experience. They can come from any part of your life.
</p>
<p>
When an employer considers you for a job, they are not necessarily looking for experience directly tied to their industry or even the available position. They are looking for "indicators of potential". They are looking for a skill set. If you can demonstrate that you already have the skills necessary to be successful in the position you are interviewing for, they will hire you.
</p>
<p>
What are employers looking for? Employers are looking for the same things they have always looked for. They are looking for talented individuals who match their technical needs and who fit into their organizational structure. They are looking for people who have good interpersonal skills, get along with other people, communicate effectively, and who can demonstrate that they have the right stuff: the team, leadership, organization, and problem solving skills that get things done.
</p>
<p>
Employers want to know that you can do the job they need to have done. They also want to know that you are motivated to do the job. Often times, they will hire an enthusiastic inexperienced candidate over an experienced candidate. Your job is to convince then that you have the necessary skills and that you are motivated to use them. 
</p>