<p><h3>
Skills are the basic building blocks of jobs.
</h3></p>

<p>
While it is certain that you have many skills and many talents, you need to identify those that make you someone an employer will want to hire. You need to be able to describe them in a way that will make an employer want to hire you and make them understand that you are the best candidate for the job.
</p>

<p>
What you need to identify are those skills that you prefer using (your preferred skills) and those that you are motivated to use (your motivated skills). It is certain that you have skills that you find to be a drudge to apply and others that bring you satisfaction and enjoyment.
</p>

<p>
When we looked at your career personality type, we were looking at your motivated skills and interests in a general sort of way. Now we need to drill down and focus on your skill set in a more specific fashion.
</p>