<p><h3>Self Assessment: Don't leave home without it!</h3></p>
<p>
Self-assessment is a big topic. And it's the one that you probably think you can skip. But this is the heart and soul of the job search process for serious job seekers.

<p>
I know. You already know what you want to do and where you want to work and what you have to offer. But with 30+ years of experience in this field, what I am telling you is that if you don't do these exercises, you are going to end up with a mediocre resume. You are not going to be prepared for interviews, you're not going to do your best when you fill out applications. And if you get an offer, you're not going to be properly prepared to negotiate that salary.
</p>
<p>
Crunch time is coming (hopefully). You're going to be sitting down for an interview and they're going to want you to be able to tell them who you are, what you know and what you have to offer. If you are not prepared to immediately describe your skills and abilities, your interests and your passions, your motivations and your aspirations, you're not going to get the job. You need to be entirely comfortable talking about why you get up in the morning, and you need to be convincing when you tell an employer why they should hire you. You also need to know if you are going to let them hire you.
</p>
<p>
That's what self-assessment is about. It involves a set of exercises that will help you know yourself and help you convey that to potential employers.
</p>
<p>
Self-assessment will help you put together your resume. It will help you list your skills and abilities on job applications. It will help you navigate the interview. When you get to the interview, you don't want to just make up the answers, When they ask you about yourself, you want to be totally prepared to tell them who you are.
</p>
<p>
Some of these exercises will seem insubstantial. Some of them will be redundant. But you need to do each and every one of them. Get to know yourself and get to be comfortable telling people what motivates you and what you are good at. The first exercise do has to do with your career personality.
</p>