<p><h3>Tying Skills to Accomplishments: Instructions</h3></p>

<p>
On a sheet of paper, or in your word processer, write down each of the skills that you underlined or highlighted on the Motivated Skills Inventory page. 
</p>
<p>
When you copy the skill descriptions here,   you do not need to write them down exactly as they appeared on the list. What you want to do is to start constructing short, declarative statements describing your particular skills.   
</p>
<p>
After you have listed your skills, think about what you have done in the past to demonstrate that skill and write down a description of that accomplishment. 
</p>
<p><h4>
These skill descriptions are part of the material you will use later for your resume.
</h4></p>
<p>
This Skill/Accomplishment list is something you want to spend a fair amount of time working on.    After you have written it the first time, you need to continue to zoom in on the precise skill statements that might go on your resume.
</p>
<p><h4>
Your skills assessment does not end here! 
</h4></p>
<p>
Until your resume is complete,  your interviews are done and your salary negotiations are finished, you are going to continue to work on describing your skills and accomplishments and preparing to present them in a clear and concise manner. The more you work on this task, the more confident you will feel as you move forward,  and the more convincing you will be in your self-presentation. 
</p>
<p>
The next task is to take a look at some of your accomplishments and to see what skills you have put to use and felt good about using.
</p>