<p>Where is not just a matter of what company or organization you want to work for.  It also includes "location, location, location" and the lifestyle you want to maintain. The question really is <i>What are your preferences?</i></p>  

<p>I have a family member who lives in Texas and who works in the oil services industry.  He thinks Houston is like heaven on earth.  There are good schools for his kids and a local park with a swimming pool.  It never snows and it's warm there all year.  Houston is a metropolis with major sports,  recreation and entertainment.  The country is as flat as can be and absolutely ideal for biking.  If you like to eat beef,  there's plenty of it.  In his job,  he's on the road all the time and constantly connected to the office via a smart-phone.  He travels the world regularly to places most people rarely hear of,  except when there are wars or revolutions.  His co-workers are high energy achievers who expect everyone to take on substantial responsibility,  making important decisions on a daily basis and working without a net.  </p>

<p>My view of his work-life environment is quite different.  To me,  Houston is a flat,  dense,  and teeming metropolis,  always on the move and with no escape from the oppressive heat and humidity.  I like to be home at night and to turn off my cell phone.  I don't mind that you can't go to the swimming pool in December.  I like to hike in the mountains and go to the beach,  and to have them close at hand.  I don't mind making difficult decisions,  but when I do,  I don't want to be out there on my own without support.  I hate jumping on airplanes,  and when I travel,  I want it to be for vacation.  I like the people around me to be relaxed and reflective.</p>

<p>Our lifestyle goals and preferences are quite different.</p>

<p><span style="color:blue;font-weight:bold;">For this exercise,  there are three questions to answer.  For each,  you need to look at the positives and the negatives.  Make sure you look at it to see examples of some of the things you might consider!</span>

<p><span style="color:blue;font-weight:bold;">1.  Location/Life Style - What do you need in a location to thrive?</p>
<p><span style="color:blue;font-weight:bold;">2.  People - What qualities do you need in the people you work with?</p>
<p><span style="color:blue;font-weight:bold;">3.  Work Conditions - What do you need in your work environment to thrive?</p>

<div align="center">
	<button class="button button-block button-dark" ui-sref="lifeWorkEnvironment">
	  	Begin Exercise
	</button>
</div>