<p style="color:blue;font-weight:bold;">Identifying your interests is a critical step in finding a job and finding your place in life.</p> 

<p>You probably have a lot of interests that you think are entirely unrelated to your career preferences.  We are all interested in things but think:  "That can't be my day job,  I can't make money doing that!"</p>  

<p style="color:blue;font-weight:bold;">Well maybe that could be your day job,  or maybe your day job could be something related to what you really love and are really passionate about.</p>

<p><span style="color:blue;font-weight:bold;">Let me share with you an example.</span> I met with an accountant who was completely bored working in an accounting/consulting firm.  He made good money but couldn't stand the work.  He was interested in cars.  He loved cars!  He did the work necessary in identifying his skills and his interests,  started searching,  and ended up as the accounting manager for a high end Sacramento automobile dealership 25 years ago and now he is the CFO.  That's where he belonged and where he could thrive.</p>  

<p>Sales and marketing jobs are particularly ripe for linking skills and interests.  You know when you go into a store whether or not the person is really interested in the product.  I recently bought a new camera at a large electronics store.  I had some questions that were answered by two different sales people.  I still wasn't certain which camera to choose,  and started to think that maybe I wasn't ready to buy one at all.  A third sales person asked if he could help me,  and I could tell right away that he didn't just know everything about the different cameras.  He knew everything about photography and wanted me to be as interested as he was!  He wasn't necessarily doing what he wanted career wise,  but he was working with exactly the things that interested him,  sharing his passion and his knowledge with others.</p>  

<p><span style="color:blue;font-weight:bold;">The list of examples is endless.  And it doesn't matter what your interests are.</span>  It could be cars or golf,  video games,  traveling,  food,  art,  biking,  hiking,  police shows,  fashion,  mystery novels,  sewing,  painting,  electronics,  music ... whatever.  The Lego company is now releasing a series of building kits based on famous architectural landmarks.  That project was started by an architect who happened to be a Lego fan.</p>

<div align="center">
	<button class="button button-block button-dark" ui-sref="lifeInterests">
	  	Begin Exercise
	</button>
</div>