<p>You probably learned quite a lot by the time you graduated from college. And if you have been in the career world for any length of time,  you are probably an expert in a number of fields.  It is expected that you will have received additional training during the course of your career.  And you have certainly learned from your experiences.   Learning and the acquisition of knowledge is a life-long task,  a task to be ignored only at the risk of peril to your career prospects and career success.</p> 

<p><span style="color:blue;"><strong>The point of this exercise is to take an inventory of your knowledge base and to identify the learned elements that you are interested in using as you move forward in your career.</strong></span>  Some of what you know represents foundational learning.  It is the basis of your skill set and your ability to learn more.  Some of what you know and have learned represents knowledge that you can directly apply</p>

<p style="color:blue;"><strong>Identifying the knowledge elements you wish to directly apply in your next (or first) career move is essential to identifying the businesses,  industries or government agencies where you will seek employment.</strong></p>

<p>The task here is to make a list of the knowledge you have acquired:</p>

<p><ul>
	<li>from formal education</li>
	<li>from work experience</li>
	<li>and from your general life experiences</li>
</ul>
</p>
<p>More specifically,  the task is to identify the knowledge you have that you want to apply in your career.</p>

<p>There is probably a lot you know that you don't care to use.  The question here is:  what knowledge have you acquired that to you want to apply?</p>


<div align="center">
	<button class="button button-block button-dark" ui-sref="keyKnowledge">
	  	Begin Exercise
	</button>
</div>