<p>The first self-assessment task is about finding your career personality type or "Holland Code." John Holland is a psychologist who developed a "theory of careers" that is routinely used in assessing vocational interests. His view is that "the choice of a vocation is an expression of personality" and that there are six primary types. Your career personality is usually described in terms of the two or three codes that best describe you, so that means there are a lot more than just six actual types.</p>

<p>These personality types are not just used to describe your career interests and personality. They are also used to describe work environments and occupations.</p>
<p>The six primary personalities or interest profiles are:</p>
<ul>
	<li>Realistic</li>
	<li>Investigative</li>
	<li>Artistic</li>
	<li>Social</li>
	<li>Enterprising</li>
	<li>Conventional</li>
</ul>

<p>They are represented on a hexagon to show that the closer they are together (next to each other and across the hexagon), the more they are related (the Conventional and Artistic types are on opposite sides and are the least commonly related).</p>
<p>In a moment, you are going to fill in a short survey to chart out your vocational preferences and interests. But before you do that, you need to read the description of each type:</p>

<div class="card">
	<div class="item item-text-wrap">
		<h1>Realistic</h1>
		<ul>
			<li>enjoy "hands-on" work using tools, equipment, and machinery</li>
			<li>like working outdoors or with plants or animals </li>
			<li>enjoy sports or outdoor activities like rock climbing, biking, hiking or backpacking </li>
			<li>don't like doing a lot of paperwork</li>
			<li>frequently work on teams to accomplish tasks or complete projects</li>
			<li>like building or fixing things and trouble shooting problems</li>
		</ul>
	</div>
</div>
<div class="card">
	<div class="item item-text-wrap">
		<h1>Investigative</h1>
		<ul>
			
			<li>like to observe, learn, analyze, evaluate, and solve problems</li>
			<li>prefer working with information and data, rather than with people or things</li>
			<li>enjoy strategy games (chess, checkers etc) or computer games</li>
			<li>frequently skilled in math and/ or science</li>
			<li>may play a musical instrument - (music has a math component)</li>
			<li>these people tend to be analytical and may appear quiet and pensive</li>
		</ul>
	</div>
</div>

<div class="card">
	<div class="item item-text-wrap">
		<h1>Artistic</h1>
		<ul>
		<li>enjoy working in unstructured situations using imagination and creativity</li>	
		<li>tend to dislike having to follow rules or set procedures</li>
		<li>enjoy doing things that requiring a sense of design and an appreciation of aesthetics</li>
		<li>these people are frequently innovators who tend to "think way outside the box"</li>
		</ul>
	</div>
</div>

<div class="card">
	<div class="item item-text-wrap">
		<h1>Social</h1>
		<ul>
			<li>like to help people - prefer teaching, communicating, and serving others</li>
			<li>skilled with words - able to share ideas effectively to enlighten or inform others</li>
			<li>able to engage people at a personal and emotional levels</li>
			<li>can work with minimal structure or supervision</li>
			<li>tend not to be significantly money motivated</li>
			<li>these people are altruistic, sociable, friendly and socially responsible</li>
		</ul>
	</div>
</div>

<div class="card">
  <div class="item item-text-wrap">
	<h1>Enterprising</h1>
	<ul>
		<li>skilled at persuading, leading, performing, influencing or managing others</li>
		<li>able to work to meet organizational goals or economic gain</li>
		<li>highly money motivated</li>
		<li>work requires energy and ambition, and a fair amount of self-confidence</li>
		<li>jobs are usually business related and often involve sales and promotion</li>
		<li>entrepreneurial, energetic and optimistic; establish rapport easily - sociable and talkative</li>
	</ul>
	</div>
</div>

<h1>Conventional</h1>

<ul>
	<li>prefer work that is detailed and orderly, structured and routine</li>
	<li>enjoy work that involves data and information, rather than people or things</li>
	<li>likes structure with rules that are known</li>
	<li>dislikes having to be creative</li>
	<li>jobs in this area involve orderly processes and record keeping</li>
	<li>these people are reliable, efficient, conforming, and conscientious individuals</li>
</ul>

<p>Keep in mind that no one is really just one type and that these categories can combine in a number of interesting ways. In fact, if we looked at all six codes for any individual, there are 720 different possible combinations. What we want to find are the two or three primary codes that describe your personality and interests.</p>

<div ng-include="'/templates/holland/info.html'"></div>



