<p><b>Skills are the basic building blocks of jobs.</b></p>

<p>While it is certain that you have many skills and many talents, you need to identify those that make you someone an employer will want to hire. You need to be able to describe them in a way that will make an employer want to hire you and make them understand that you are the best candidate for the job.</p>

<p>You also need to clearly understand your skill set so that you can focus on finding the job that is just right for you. <b style="font-style:italic">There are some skills you have that you probably have no interest in using as part of your daily work.</b> For example, you might be a great typist but have no interest in typing for a living. You might be an excellent pool sweeper but have no desire to sweep pools for a living. What you need to identify are those skills that you prefer using (your preferred skills) and those that you are motivated to use (your motivated skills). It is certain that you have skills that you find to be a drudge to apply and others that bring you satisfaction and enjoyment.</p>

<p><b style="font-style:italic">Skills develop early in life and throughout life.</b> Most of your <b style="font-style:italic">motivated skills</b> have served you in a variety of situations. Those skills have been refined by life experiences like sports, clubs, and hobbies, or even just hanging around working on the car with a parent or another adult. They provided enjoyment when you were a child, and as an adult, they will help you get what you want and what you need out of life. The ones we need to identify are those that have provided you with a sense of accomplishment.</p>

<p><b style="font-style:italic">Many of your skills are "transferable" and can be applied in a range of situations.</b> These are skills that you have been using since you were a little kid. Think about it. There were kids in your grammar school class who were the leaders: the class president or team captain. There were also enterprising kids who could sell more tickets or cookies than anyone else. There was the artist who could draw fabulously in third grade. And there was the writer who could spin an incredible tale for a writing assignment. Some were great communicators, never afraid to stand up and read their reports. Some were great at fixing things or building things. And remember the kid who always took notes and made sure that every detail on a group project was attended to?</p>

<p><b style="font-style:italic">When we looked at your career personality type, we were looking at your motivated skills and interests in a general sort of way. Now we need to drill down and focus on your skill set in a more specific fashion.</b></p>

<p>We need to be able to describe your skills in a way that will allow you to translate them into specific career choices and to communicate your interest in using those skills to an employer.</p>

<p>For this, we are going to do a few different exercises. We are going to review your skills in terms of what you are good at and in terms of how you have exercised those skills relative to past accomplishments. This is not just a matter of your being able to look at a job description and saying "I can do that and I can do that too." This is a matter of understanding what you really want to do and having the confidence to look an employer in the eye and tell her that you are the best candidate for the job.</p>

<p>&nbsp;</p>
<div align="center" ng-controller="comsCtrl">
	<button class="button button-block button-dark" ui-sref="msi_communication">
	  	Begin Assessment
	</button>
</div>
<p>&nbsp;</p>