<p>Work satisfaction is a function of individual needs, values and priorities.</p>

<p>Before you make career decisions, you need to identify what you need to thrive. This exercise will help you think about what is important to you in the work environment.</p>

<p>Different things will be important at different stages in your career. What is important to you right now? What should you be looking for?</p>

<p style="color:blue;"><strong>There are two parts to this exercise:</strong></p>

<p><strong style="color:blue;">First</strong>,  you are going to rate a series of work values.  Some will be important.  Others will not.  Some will be essential.</p>

<p><strong style="color:blue;">Then</strong>,  you are going to rank order the things that are most important to you.</p>


<div align="center">
	<button class="button button-block button-dark" ui-sref="workValues">
	  	Begin Exercise
	</button>
</div>
