<ul style="list-style-type:disc">
	<li>
		<a onclick="window.open('https://docs.google.com/open?id=0B70AbHILIVI2ai1ONDhRdExnV3c', '_blank', 'location=yes')">
		Sample Skills list
		</a>
	</li>
	<li>Sample Resume #1 -
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGEZjFiOTVmYjMtMWRiOC00NjI2LThhN2EtMDhlMDVhYTc5Yzhi&amp;hl=en', '_blank', 'location=yes')">
		Project Manager
		</a>
	</li>
	<li>Sample Resume #2 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGEZjgwMjFmOTQtZDViNy00MzE5LThmMDYtNzhmNDE5NGE2YzFi&amp;hl=en', '_blank', 'location=yes')">
		Electrical Power Engineer
		</a>
	</li>
	<li>Sample Resume #3 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGENDgzNzI4NzktMmE2Ny00MmU3LTk0MDgtNGZiNzYyNzA4MzA4&amp;hl=en', '_blank', 'location=yes')">
		Manufacturing and Development Engineer
		</a>
	</li>
	<li>Sample Resume #4 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGEMmZmMzNkNmUtYjA1MS00NjlhLWExNjQtZWZmMWUwOWYxMmMy&hl=en%22', '_blank', 'location=yes')">
		Student Intern
		</a>
	</li>
	<li>Sample Resume #5 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGEN2I0OWI0ZTItNGFmZS00NzEzLTk1M2QtMzM4YzQ3MGZiMDc5&hl=en' , '_blank', 'location=yes')">
		Electrical Power Engineer
		</a>
	</li>
	<li>Sample Resume #6 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGEZTc1MDU1ODctNWIyNC00ZDBlLWExM2YtYTI5NzlmZDhmNzM0&hl=en' , '_blank', 'location=yes')">
		Entry-Level Position Retail Management
		</a>
	</li>
	<li>Sample Resume #7 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGEZDdhZTEwNmYtNjJmYy00ZmY3LWJjNzctYThjOTkyYTYzZjA4&hl=en' , '_blank', 'location=yes')">
		Dietitian Assistant
		</a>
	</li>
	<li>Sample Resume #8 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGEMzdjMTlhYmItYzNlZi00MjdmLTk2NDktODlhODYxZjNmOTI5&hl=en' , '_blank', 'location=yes')">
		International Business Administration
		</a>
	</li>
	<li>Sample Resume #9 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGEMTMzNTJhNjAtNTc2NS00ODEyLWI4NjktZWViNDIxN2JjNWFm&hl=en' , '_blank', 'location=yes')">
		Masters Engineering-Electrical &amp; Electronic
		</a>
	</li>
	<li>Sample Resume #10 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGENTJhN2UxMjktY2M1Ny00OWU1LWI3YjgtYzg1MGE1ZGY4MWY2&hl=en' , '_blank', 'location=yes')">
		Management Info. Science
		</a>
	</li>
	<li>Sample Resume #11 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGEMTU2MWM3MTgtNWE0NS00ZjcwLTk3OTgtZWMxN2NlMzExYTdi&hl=en' , '_blank', 'location=yes')">
		Mechanical Engineer Technology
		</a>
	</li>
	<li>Sample Resume #12 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGEYTQyYTQyMDItYzFkOC00ODMwLTljMWMtMTZhYmNhODNmYmM2&hl=en' , '_blank', 'location=yes')">
		Engineering-Electrical &amp; Electronic
		</a>
	</li>
	<li>Sample Resume #13 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGEMDJjMzVjNjUtYjM2Zi00NTcyLTk0YzEtYjg0ZGJiNDI4ZGUz&hl=en' , '_blank', 'location=yes')">
		Construction Management Engineer
		</a>
	</li>
	<li>Sample Resume #14 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGENmE3YjZjZjMtMmJlZC00YTVlLTkwN2UtOWFmZjg3OGJiMGFl&hl=en' , '_blank', 'location=yes')">
		Civil Engineering
		</a>
	</li>
	<li>Sample Resume #15 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGENDYyMjA3MzgtYzVkYi00YzNiLTkyOTMtZDkzMmJkMmYyZDBk&hl=en' , '_blank', 'location=yes')">
		Civil Engineering intern
		</a>
	</li>
	<li>Sample Resume #16 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGENjEyY2E1YWMtMTkxZC00OTE2LThkMTQtZjI5ZTRiNTM1Mzg4&hl=en' , '_blank', 'location=yes')">
		Legal Secretary
		</a>
	</li>
	<li>Sample Resume #17 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGENzdiMjQ5ZjAtMzNlYS00ZmFjLTk1ZjktYTQ0NzZiMzNhOTdl&hl=en' , '_blank', 'location=yes')">
		Administrative Services
		</a>
	</li>
	<li>Sample Resume #18 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGEMmUyNmJhMjQtMWM1Zi00ODMwLThlYjYtNGVlNGFhMjM2Y2Fl&hl=en&authkey=COOO38cB' , '_blank', 'location=yes')">
		Facilities Manager
		</a>
	</li>
	<li>Sample Resume #19 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGEMjZjMTI2YTItZjE2MC00YWExLThlZDAtNTMzMGZjNjc1YmVi&hl=en&authkey=CLCn9aYE' , '_blank', 'location=yes')">
		Event Planning
		</a>
	</li>
	<li>Sample Resume #20 - 
		<a onclick="window.open('http://docs.google.com/fileview?id=0By0hB70nmEGEOGUyOTAxMjktYmUyMS00YWUwLThjNmUtMjg2MTJjMDJhYWYy&hl=en&authkey=CLLZ2e4L' , '_blank', 'location=yes')">
		Recreation Planning
		</a>
	</li>
	<li>Sample Resume #21 - 
		<a onclick="window.open('https://docs.google.com/file/d/0B70AbHILIVI2ZkJvU3hQTWJrb3M/edit?usp=sharing' , '_blank', 'location=yes')">
		Criminal Justice
		</a>
	</li>
	<li>Sample Resume #22 - 
		<a onclick="window.open('https://docs.google.com/file/d/0B70AbHILIVI2WHc3bFRFZWM0YlU/edit?usp=sharing' , '_blank', 'location=yes')">
		Speech Pathology
		</a>
	</li>
	<li>Sample Resume #23 - 
		<a onclick="window.open('https://docs.google.com/file/d/0B70AbHILIVI2MDBmbUlaZnptV0k/edit?usp=sharing' , '_blank', 'location=yes')">
		Sales Operations Analyst
		</a>
	</li>
	<li>Sample Resume #24 - 
		<a onclick="window.open('https://docs.google.com/file/d/0B70AbHILIVI2RVZmSWRldXVfYUk/edit?usp=sharing' , '_blank', 'location=yes')">
		Electrical / Electronic Engineering
		</a>
	</li>
	<li>Sample Resume #25 - 
		<a onclick="window.open('https://drive.google.com/file/d/0B70AbHILIVI2U1JhNGpFQjMyYTg/edit?usp=sharing' , '_blank', 'location=yes')">
		Computer Engineering
		</a>
	</li>
	<li>Sample Resume #26 - 
		<a onclick="window.open('https://drive.google.com/file/d/0B70AbHILIVI2X0N6U1ZKT1ZwNkE/edit?usp=sharing' , '_blank', 'location=yes')">
		Computer Science
		</a>
	</li>
</ul>