<p>A Portfolio is a hinged cover or flexible case for carrying loose papers, pictures or pamphlets. For job seeking and interviewing purpose it is a set of work samples, such as reports, drawings or photographs, either bound in book form or loose in a folder.</p>

<p>A portfolio is a way to show an employer samples of your work and pictures of projects you have worked on.  It allows you to assemble, in an orderly fashion, representations of your best quality work. It gives you a chance to stand out from the competition by showing the employer you hope will hire you, a visual display of your work. You will most likely be sharing it in an interview.</p>

<p>It is important to understand that a portfolio is not a resume. A resume is a summary of your background and talents. A portfolio is a display of your work. (A resume should be included as the first item in your portfolio.) </p>

<p>The employer is looking for a basic set of skills and some specialized expertise specific to their industry.  Included in the skills and expertise sought by employers are the following:
<ul style="list-style-type:disc">
	<li>Technical Expertise</li>
	<li>Computer Skills</li>
	<li>Communications Skills</li>
	<li>Written</li>
	<li>Verbal</li>
	<li>Presentation</li>
	<li>Analytical/Problem Solving</li>
	<li>Leadership Skills</li>
	<li>Organization Skills</li>
	<li>Team Skills</li>
</ul>
</p>

<p>For your portfolio, you want to be able to actually find and show the work you've produced that demonstrate these skills and expertise. Examples of your talents can be seen in the things you have done such as reports, projects, designs, drawings, computer programs, diagrams, flowcharts, class lists, documentation, memos, events, and letters of recommendations (employers are also looking for what others have said about you), etc.</p>

<p>They come from your:
<ul style="list-style-type:disc">
	<li>School work</li>
	<li>Work Situations</li>
	<li>Professional Activities</li>
	<li>Leisure Activities</li>
	<li>Community Activities</li>
</ul>
</p>

<p>Your portfolio should not be just thrown together. It should be extremely well organized and very professional looking. You will need a table of contents at the beginning and you will need to place dividers with labels in front of each new item. You should not throw in absolutely everything; just use the most impressive representations of your work and skills.</p>

<p>Your table of contents might include:
<ul style="list-style-type:disc">
	<li>Resume</li>
	<li>References and Recommendation Letters</li>
	<li>Projects</li>
	<li>Writing Samples</li>
	<li>Photos</li>
</ul>
</p>

<p>The use of a portfolio can really make you standout. It increases your confidence and it impresses employers. A portfolio helps you compete when the competition might have more experience. You will have a better presentation of your experience! That can make the difference in getting the job.</p>