<p>So how do you convey to an employer that you are the perfect candidate? If you are going to get the attention of an employer and get the job,  you need to stand out from the crowd. You have five ways of showing employers that you have the right stuff: your cover letter, your resume, your portfolio, your interview and last but not least, your enthusiasm.</p>

<p>To begin with, employers want to hire candidates who can demonstrate that they have the technical expertise that fit with the job requirements. Your degree from an  accredited university goes a long way in telling the employer that you have the right stuff. Show your degree(s), certification, your courses, and describe any projects you have that are relevant to the needs of an employer. Your course list and class projects will show that you have learned things that make you likely to succeed in a particular position. The project experience you have had, either in a career related internship or job, also shows that you have the technical expertise you need to perform on the job. In the real world, projects are the primary focus of a technical professional. Show your projects prominently!</p>

<p>Employers will also assess whether you have basic soft skills that give you the ability to perform well in their work environment. Being a good student is not enough to get you a job. You will need to demonstrate to an employer that you have successfully used your soft skills too. Potential employers want to know that have you have learned how to manage a project, lead teams, worked as an effective member of a team, worked with customers effectively, as well as how to stand up and give a great PowerPoint presentation. Be sure to share it all.</p>

<p>Your cover letter, resume, portfolio and actual interview should all convey the same message and work in concert to show the employer you have what they need. You may feel you are repeating yourself, but actually you are reinforcing the message over and over again. When you get to the interview, your resume and the work you put into it will help you stay on message and avoid rambling, and it helps the employer grasp your true strengths.</p>

<p>Lastly, enthusiasm for what the employer does also goes a long way to making you a fabulous candidate. Chase what you love and ignore the rest. Being the perfect candidate means chasing the right job. </p>

<p>Limit your resume to one page unless you are applying for an academic position.  This is easier than you might think.  Use half-inch margins on the top, bottom, and sides in order to get maximum use of your page.   Format your header (name, address, phone, email) horizontally and limit it to the top one-inch of the page.</p>

<p>In the body of your resume put an objective.   This is a focal point and the “controller device” on your resume. Your objective must relate to the employer’s needs before you will be considered for anything. (Anything that does not relate should be left off of your resume).  It should be simple and concise.  For example:  Objective: A position in Civil Engineering.</p>

<p>Things following your objective are put on to the resume in descending order of importance. The next thing that goes on your resume after the objective depends on what you learn is the most important thing you have to offer the employer.   This rule is followed for each and every subsequent item.   Your skills are usually the most important item and are usually placed first.  </p>

<p>Remember that a resume is a summary of who you are.  It should tell an employer who you are and that you're "right" for the position.  It must be extremely well organized and well formatted to have the greatest impact.  The resume should not go on forever. The purpose of a resume is to gain the attention of the employer you hope will hire you.   It is a professional statement of what you have to offer.  It should be brief and concise. </p>

<p>Resumes of recent college graduates should include the following master categories: 
<ul style="list-style-type:disc">
	<li>Objective</li>
	<li>Education</li>
	<li>Knowledge and Skills</li>
	<li>Project Experience (this might be merged with related experience)</li>
	<li>Related Experience (meaning related to your objective)</li>
	<li>Other Work Experience (such as food service; this section might be left out)</li>
	<li>Professional Activities and Accomplishments</li>
</ul>
This list of seven items works for just about every new graduate I have worked with,  regardless of major.</p>

<p>Rules for resume writing:
<ul style="list-style-type:disc">
	<li>Limit your resume to one page.</li>
	<li>Include only items that support your objective.</li>
	<li>Use only one font for the entire resume.</li>
	<li>Use bold, italics, and upper case letters judiciously.</li>
	<li>Bold all of your master category headers in upper case letters.</li>
	<li>Bold all of your sub-category headers in lower case letters.</li>
	<li>Use action verbs to describe your experience.</li>
	<li>Don’t use I, me or my on your resume if you can avoid it.</li>
</ul>
<p>

