<ion-view title="To-Do-List" ng-controller="ToDoCtrl">
  <ion-content has-header="true">
	<ion-list>
       <ion-checkbox ng-repeat="list in toDoList" ng-model="list.done">
        <span ng-class="{done: list.done}">{{list.title}}</span>
		<div class="top-right">
		<span ng-class="{done: list.done}">{{ " Due by " + list.date}}</span>
		</div>
      </ion-checkbox>
    </ion-list>

	  <div class="button-bar">
		<a class="button button-icon icon ion-plus-circled" ng-click="addToDo()"></a>
	  </div>
  </ion-content>

</ion-view>
