<ion-view title="To-Do-List" ng-controller="ToDoCtrl">
  <ion-content has-header="true">
	<ion-list>
       <ion-checkbox ng-repeat="list in toDoList">
        {{list.title}}
		<div class="top-right">
		{{ " Due by " + list.date}}
		</div>
      </ion-checkbox>
    </ion-list>

	  <div class="button-bar">
	    <a class="button button-icon icon ion-minus-circled" ng-click="showConfirm()"></a>
		<a class="button button-icon icon ion-plus-circled" ng-click="addToDo()"></a>
	  </div>
  </ion-content>

</ion-view>
