<ion-view title="Career Binder">
  <ion-content>
   <div class="list">

	  <a class="item item-icon-left" ng-click="toBinderIdeas()">
		<i class="icon ion-ios7-lightbulb-outline"></i>
		Ideas and Inspirations
	  </a>

	  <a class="item item-icon-left" href="#">
		<i class="icon ion-calendar"></i>
		Calendar
	  </a>

	  <a class="item item-icon-left" ng-click="toBinderToDoList()">
		<i class="icon ion-clipboard"></i>
		To-Do-List
	  </a>
	  
	  <a class="item item-icon-left" href="#">
		<i class="icon ion-map"></i>
		Career Plan/Job Search Strategy
	  </a>
	  
	  <a class="item item-icon-left" href="#">
		<i class="icon ion-person-stalker"></i>
		Professional Contacts
		<span class="badge badge-assertive">0</span>
	  </a>
	  
	  <a class="item item-icon-left" ng-click="toBinderJobs()">
		<i class="icon ion-document-text"></i>
		Job Applications/Resumes Sent
	  </a>

   </div>
  </ion-content>
</ion-view>