<ion-view title="Motivated Skills Inventory" ng-controller="analyticsCtrl">
	<ion-content has-header="true" align="center">
		<h2>Analytical - Research</h2>
		<table style="width:100%; border:1px solid black;">
			<tr>
				<th style="width: 60%;"><h4>Question</h4></th>
				<th style="max-width: 20%;"><h4>Skill Level</h4></th>
				<th style="max-width: 20%;"><h4>Motivation</h4></th>
			</tr>

			<!-- --------- -->
			<!-- FIRST ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ analyticsQuestions.scienceHead}}</b>{{analyticsQuestions.scienceBody}} 
				</td>

				<td>
					<ion-radio name="scienceSkills" ng-repeat="item in scienceSkills" ng-value="item.value" ng-model="data.scienceSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="scienceMotivation" ng-repeat="item in scienceMotivation" ng-value="item.value" ng-model="data.scienceMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>

			<!-- --------- -->
			<!-- SECOND ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ analyticsQuestions.researchHead}}</b>{{analyticsQuestions.researchBody}} 
				</td>

				<td>
					<ion-radio name="researchSkills" ng-repeat="item in researchSkills" ng-value="item.value" ng-model="data.researchSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="researchMotivation" ng-repeat="item in researchMotivation" ng-value="item.value" ng-model="data.researchMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>

			<!-- --------- -->
			<!-- THIRD ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ analyticsQuestions.techworkHead}}</b>{{analyticsQuestions.techworkBody}} 
				</td>

				<td>
					<ion-radio name="techworkSkills" ng-repeat="item in techworkSkills" ng-value="item.value" ng-model="data.techworkSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="techworkMotivation" ng-repeat="item in techworkMotivation" ng-value="item.value" ng-model="data.techworkMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>
		</table>

		<button class="button" ng-click="toResults(); commitVals();">
	  	See Results
	  	</button>
	  	<button class="button" ng-click="toMSI_technical(); commitVals();">
	  	Next
	  	</button>
	</ion-content>
</ion-view>