<ion-view title="Motivated Skills Inventory" ng-controller="techReasonCtrl">
	<ion-content has-header="true" align="center">
		<h2>Technical Reasoning</h2>
		<table style="width:100%; border:1px solid black;">
			<tr>
				<th style="width: 60%;"><h4>Question</h4></th>
				<th style="max-width: 20%;"><h4>Skill Level</h4></th>
				<th style="max-width: 20%;"><h4>Motivation</h4></th>
			</tr>

			<!-- --------- -->
			<!-- FIRST ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ techReasonQuestions.mechanicalHead}}</b>{{techReasonQuestions.mechanicalBody}} 
				</td>

				<td>
					<ion-radio name="mechanicalSkills" ng-repeat="item in mechanicalSkills" ng-value="item.value" ng-model="data.mechanicalSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="mechanicalMotivation" ng-repeat="item in mechanicalMotivation" ng-value="item.value" ng-model="data.mechanicalMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>

			<!-- --------- -->
			<!-- SECOND ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ techReasonQuestions.spatialHead}}</b>{{techReasonQuestions.spatialBody}} 
				</td>

				<td>
					<ion-radio name="spatialSkills" ng-repeat="item in spatialSkills" ng-value="item.value" ng-model="data.spatialSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="spatialMotivation" ng-repeat="item in spatialMotivation" ng-value="item.value" ng-model="data.spatialMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>

			<!-- --------- -->
			<!-- THIRD ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ techReasonQuestions.outdoorHead}}</b>{{techReasonQuestions.outdoorBody}} 
				</td>

				<td>
					<ion-radio name="outdoorSkills" ng-repeat="item in outdoorSkills" ng-value="item.value" ng-model="data.outdoorSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="outdoorMotivation" ng-repeat="item in outdoorMotivation" ng-value="item.value" ng-model="data.outdoorMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>


			<!-- --------- -->
			<!-- FOURTH ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ techReasonQuestions.tspbHead}}</b>{{techReasonQuestions.tspbBody}} 
				</td>

				<td>
					<ion-radio name="tspbSkills" ng-repeat="item in tspbSkills" ng-value="item.value" ng-model="data.tspbSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="tspbMotivation" ng-repeat="item in tspbMotivation" ng-value="item.value" ng-model="data.tspbMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>
		</table>

		<button class="button" ng-click="toResults(); commitVals(); getResults();">
	  	See Results
	  	</button>
	  	<button class="button" ng-click="toMSI_innovative(); commitVals();">
	  	Next
	  	</button>
	</ion-content>
</ion-view>