<ion-view title="Motivated Skills Inventory">
	<ion-content has-header="true" align="center">
	  <!-- <h2>Motivated Skills Inventory</h2>
	  <p>
	  	We are going to find the job which fits YOU best! To do this, we need to clearly define your goals, interests, values and &nbsp;<b>motivated skills</b>.
	  </p>
	  <p>
	  	The Motivated Skills Inventory will ask you a series of questions in 8 categories. Each question will ask you to rate yourself twice: once for skill and once for motivation. Our goal is to find the area that you are both skilled at and motivated to pursue.
	  </p> -->

	  <table style="margin: auto; text-align:left; width: 60%;">
	  	<tr>
	  		<td style="width: 25%">
	  			<h4 style="color: #19C5FF;">Intro to Content:</h4>
	  		</td>
	  		<td>
	  			This section of the application will help you in deciding which career field you might want to consider pursuing based on a variety of assessments which can categorize your personality and ideal corresponding occupation. There are 7 assessments total.
	  		</td>
	  	</tr>
	  	<tr>
	  		<td>
	  			<h4 style="color: #96E843;">Why It's Important:</h4>
	  		</td>
	  		<td>
	  			Our goal is to find the job which fits YOU best! To do this, we need to clearly define your goals, interests, values and &nbsp;<b>motivated skills</b>. These assessments will do just that and more!
	  		</td>
	  	</tr>
	  	<tr>
	  		<td >
	  			<h4 style="color: #FF3030;">Do's &amp; Dont's:</h4>
	  		</td>
	  	</tr>
	  </table>


	  <button class="button" ng-click="toMainMenu()">
	  	Menu
	  </button>
	  <button class="button" ng-click="toMSI_communication()">
	  	Let's Begin!
	  </button>
	</ion-content>
</ion-view>