<div class="row binder" ng-controller="comsCtrl" ng-init="setScreen()">
		<button class="col b-1" ui-sref="binder-ideas">
		    <img src="css/SJS-ideas-icon.svg" alt="">
			<span>Ideas & Inspiration</span>
		</button>
	
		<button class="col b-2" ui-sref="binder-calendar">
			<img src="css/SJS-calendar-icon.svg" alt="">
			<span>Calendar</span>
		</button>
	</div>
	
	<div class="row binder">
		<button class="col b-3" ui-sref="binder-toDo">
			<img src="css/SJS-to-do-icon.svg" alt="">
			<span>To-Do-List <span class="badge badge-assertive">{{count}}</span></span>
		</button>
		<button class="col b-4" ui-sref="binder-asmntResults">
			<img src="css/SJS-assessments-icon.svg" alt="">
			<span>Assessment Results</span>	
		</button>
	</div>
	
	<div class="row binder">
		<button class="col b-5" ui-sref="binder-contacts">
		<img src="css/SJS-contacts-icon.svg" alt="">
			<span>Professional Contacts</span>
		  </a>
		</button>
		<button class="col b-6" ui-sref="binder-jobApps">
		<img src="css/SJS-applications-sent-icon.svg" alt="">
			<span>Applications & Resumes</span>
		</button>
	</div>
</div>
