<ion-content class="contacts-folder"
			 title="Professional Contacts"
			 ng-controller="contactsCtrl"
>
		<h3 align="center" style="padding-top:20px; color:white;">Professional Contacts</h3>
	
		<table style="margin: auto; margin-bottom: 10px;" ng-repeat="contact in getContacts() track by $index">
			<tr>
				<td><b>Name:</b> {{contact.displayName}}</td>
			</tr>

			<tr>
				<td><b>Phone Number:</b> {{contact.phoneNumbers[0].value}}</td>
			</tr>

			<tr>
				<td><b>Email:</b> {{contact.emails[0].value}}</td>
			</tr>

			<tr>
				<td><b>Organization:</b> {{contact.organizations[0].name}}</td>
			</tr>

			<tr>
				<td><b>Note:</b> {{contact.note}}</td>
			</tr>						

		  <tr align="center">	
		  	<td class="button button-clear button-balanced" ng-click="editContactForm(contact)">Edit</td>
		  
		  	<td class="button button-clear button-assertive" ng-click="removeContact($index)">Delete</td>
		  </tr>			
		</table>

		<div class="button-bar">
		<a class="button button-icon icon ion-plus-circled contacts-add" ng-click="contactForm()"></a>
	  	</div>
</ion-content>