<ion-content title="Job Applications/Resumes Sent" 
			ng-controller="JobAppCtrl"
			style="background-color:#C0C0C0;"
> 

	<h3 align="center" style="padding-top:20px; color:white;">Applications Sent</h3>  

	  <table class="jobApps" 
	  	ng-repeat="item in getJobs() track by $index"
	  >	
		  <tr>
		  	<td style="padding-bottom:10px;"><b>Company:</b></td> 
		  	<td style="padding-bottom:10px;">{{item.company}}</td>
		  </tr>
		  <tr>
		  	<td style="padding-bottom:10px;"><b>Job Title:</b></td>
		  	<td style="padding-bottom:10px;">{{item.jobTitle}}</td>
		  </tr>
		  <tr>
		  	<td style="padding-bottom:10px;"><b>Description:</b></td>
		  	<td style="padding-bottom:10px;">{{item.posDesc}}</td>
		  </tr>
		  <tr>
		  	<td style="padding-bottom:10px;"><b>Notes:</b></td>
		  	<td style="padding-bottom:10px;">{{item.notes}}</td>
		  </tr>
		  <tr>
		  	<td style="padding-bottom:10px;"><b>Date applied:</b></td>
		  	<td style="padding-bottom:10px;">{{item.date}}</td>
		  </tr>
		  <tr>	
		  	<td colspan="2">
		  		<span style="float:right;">
			  		<i class="icon ion-edit" style="padding-right:10px;" ng-click="editJobForm(item,$index)"></i>
			  		<i class="icon ion-close" ng-click="removeJob($index)"></i>
		  		</span>
		  	</td>
		  </tr>
	  </table>


	  <div id="jobButton" class="button-bar">
		<a class="button button-icon icon ion-plus-circled"></a>
	  </div>


	  				<!-- POP UP WINDOW -->


	  <div id="popup" hidden="true" class="popup">
	  		
		  <table style="margin:auto; color:white;">
		  	<tr>
		  		<td style="padding-bottom:15px;">
		  			<h3 style="color:white;">Career Application</h3>
		  		</td>
		  	</tr>
			<tr>
				<td>Date Applied:</td>
			</tr>
			<tr>
				<td><input type="text" ng-model="obj.date"></td>
			</tr>

			<tr>
				<td>Company:</td>
			</tr>
			<tr>
				<td><input type="text" ng-model="obj.company"></td>
			</tr>

			<tr>
				<td>Position Title:</td>
			</tr>

			<tr>
				<td><input type="text" ng-model="obj.jobTitle"></td>
			</tr>

			<tr>
				<td>Position Description:</td>
			</tr>
			<tr>
				<td><input type="text" ng-model="obj.posDesc"></td>
			</tr>
			<tr>
				<td>Notes:</td>
			</tr>
			<tr>
				<td><input type="text" ng-model="obj.notes"></td>
			</tr>
			<tr>
				<td>
					<input class="button" id="submit" type="button" style="margin-top:20px;" value="Submit">
					<input class="button" id="update" type="button" style="margin-top:20px;" value="Update">
					<input class="button" id="cancel" type="button" style="margin:20px;" value="Cancel">
				</td>
			</tr>
		</table>
	</div>


</ion-content>