<ion-content ng-controller="asmntResultCtrl" ng-init="getResults();"
	style="background-color:#999999;"
>	
	<h3 align="center" style="padding-top:20px; color:white;">
		Assessment Results
	</h3>


	<div id="showAsmnts" style="padding:15px;">

		<div class="asmntResults-row"
			align="center"
			ng-repeat="asmnt in getResults() | reverse track by $index" 
		>	

			<span ng-click="showResults(asmnt, $index)" style="float:left;">{{asmnt.title}} - {{asmnt.date}}</span>			
			<br><br>
			<span>
				<i class="icon ion-close" ng-click="delete(reverseIndex($index, getResults()))"></i>
			</span>
		</div>

	</div>

	<!-- Goal Setting -->
	<div id="showGoalResults" hidden="true" style="padding:20px;">
		
		<table style="margin:auto; background-color:white; border:15px solid white;">
		  <tr style="font-size:15px;" ng-repeat-start="ro in resultObjects track by $index">
			<td style="padding:10px;">
				<strong>High Priority Goal # {{$index+1}}</strong>
			</td>
		  </tr>
		  
		  <tr style="font-size:15px;">
			<td style="padding:10px;">
				<strong>{{ro.goal}}</strong>
			</td>
		  </tr>
		  
		  <tr style="font-size:15px;">
			<td style="padding:10px;">
				<strong>Steps:</strong>
			</td>
			<td style="padding:10px;">
				<strong>Time:</strong>
			</td>
		  </tr>
		  <tr style="font-size:15px;" ng-repeat="step in ro.steps track by $index">
			<td style="padding:10px;">{{step}}</td>
			<td style="padding:10px;">{{ro.times[$index]}}
		  </tr>
		  
		  <tr ng-repeat-end></tr>
		</table>

		<span style="float:left;">
			<button class="button" ng-click="toggle('showGoalResults', 'showAsmnts')">
				<i class="icon ion-chevron-left"></i>
			</button>			
		</span>	
	</div>
	
	<!-- Life & Work Environment -->
	<div id="showLifeAndWorkEnvironmentResults" hidden="true" style="padding:20px;">
		
		<table style="margin:auto; background-color:white; border:15px solid white;">
		  <tr style="font-size:15px;" ng-repeat-start="ro in resultObjects track by $index">
			
		  </tr>
		  
		  <tr style="font-size:15px;">
			<td style="padding:10px;">
				<strong>Things you must have:</strong>
			</td>
		  </tr>
		  <tr style="font-size:15px;" ng-repeat="yes in ro.location_yes track by $index">
			<td style="padding:10px;">{{yes}}</td>
		  </tr>
		  <tr style="font-size:15px;">
			<td style="padding:10px;">
				<strong>Things you can't stand:</strong>
			</td>
		  </tr>
		  <tr style="font-size:15px;" ng-repeat="no in ro.location_no track by $index">
			<td style="padding:10px;">{{no}}</td>
		  </tr>
		  
		  <tr style="font-size:15px;">
			<td style="padding:10px;">
				<strong>People you want to be with:</strong>
			</td>
		  </tr>
		  <tr style="font-size:15px;" ng-repeat="yes in ro.people_yes track by $index">
			<td style="padding:10px;">{{yes}}</td>
		  </tr>
		  <tr style="font-size:15px;">
			<td style="padding:10px;">
				<strong>People you can't stand:</strong>
			</td>
		  </tr>
		  <tr style="font-size:15px;" ng-repeat="no in ro.people_no track by $index">
			<td style="padding:10px;">{{no}}</td>
		  </tr>
		  
		  <tr style="font-size:15px;">
			<td style="padding:10px;">
				<strong>Things you must have:</strong>
			</td>
		  </tr>
		  <tr style="font-size:15px;" ng-repeat="yes in ro.work_yes track by $index">
			<td style="padding:10px;">{{yes}}</td>
		  </tr>
		  <tr style="font-size:15px;">
			<td style="padding:10px;">
				<strong>Things you don't need:</strong>
			</td>
		  </tr>
		  <tr style="font-size:15px;" ng-repeat="no in ro.work_no track by $index">
			<td style="padding:10px;">{{no}}</td>
		  </tr>
		  
		  <tr ng-repeat-end></tr>
		</table>

		<span style="float:left;">
			<button class="button" ng-click="toggle('showLifeAndWorkEnvironmentResults', 'showAsmnts')">
				<i class="icon ion-chevron-left"></i>
			</button>			
		</span>	
	</div>
	
	<!-- Life Interests & Passions -->
	<div id="showLifeInterestsResults" hidden="true" style="padding:20px;">

		<table style="margin:auto; background-color:white; border:15px solid white;">
			<tr style="font-size:16px;">
				<td style="width:10%;"><strong>Rank</strong></td>
				<td align="center"><strong>Life Interests & Passions</strong></td>
			</tr>

			<tr style="font-size:15px;" ng-repeat="ro in resultObjects track by $index">
				<td style="padding:10px;">
					#{{$index + 1}}
				</td>
				<td style="padding:10px;" align="center">
					{{ro}}
				</td>
			</tr>
		</table>
		<br>
		<span style="float:left;">
			<button class="button" ng-click="toggle('showLifeInterestsResults', 'showAsmnts')">
				<i class="icon ion-chevron-left"></i>
			</button>			
		</span>	
	</div>



	<!-- Key Knowledge Areas -->
	<div id="showKeyKnowledgeResults" hidden="true" style="padding:20px;">

		<table style="margin:auto; background-color:white; border:15px solid white;">
			<tr style="font-size:16px;">
				<td style="width:10%;"><strong>Rank</strong></td>
				<td align="center"><strong>Key Knowledge Areas</strong></td>
			</tr>

			<tr style="font-size:15px;" ng-repeat="ro in resultObjects track by $index">
				<td style="padding:10px;">
					#{{$index + 1}}
				</td>
				<td style="padding:10px;" align="center">
					{{ro}}
				</td>
			</tr>
		</table>
		<br>
		<span style="float:left;">
			<button class="button" ng-click="toggle('showKeyKnowledgeResults', 'showAsmnts')">
				<i class="icon ion-chevron-left"></i>
			</button>			
		</span>	
	</div>




	<!-- WORK VALUES & PRIORITIES -->
	<div id="showWorkValueResults" hidden="true" style="padding:20px;">

		<table style="margin:auto; background-color:white; border:15px solid white;">
			<tr style="font-size:16px;">
				<td style="width:10%;"><strong>Rank</strong></td>
				<td align="center"><strong>Work Values & Priorities</strong></td>
			</tr>

			<tr style="font-size:15px;" ng-repeat="ro in resultObjects track by $index">
				<td style="padding:10px;">
					#{{$index + 1}}
				</td>
				<td style="padding:10px;" align="center">
					{{ro}}
				</td>
			</tr>
		</table>
		<br>
		<span style="float:left;">
			<button class="button" ng-click="toggle('showWorkValueResults', 'showAsmnts')">
				<i class="icon ion-chevron-left"></i>
			</button>			
		</span>	
	</div>


	<!-- MSI RESULTS -->
	<div  id="showAsmntResults" hidden="true" style="padding:20px;">

		<table style="margin:auto; background-color:white; border:15px solid white;">
			<tr>
				<td colspan="3"><h4 style="font-family: 'Montserrat'; padding-bottom:10px;">{{header}}</h4></td>
			</tr>
			<tr ng-repeat="ro in resultObjects track by $index">
				<td align="center" style="width:15%;">
					<span class="circleAsmntResults">
						{{ro.sum}}
					</span>
				</td>
				<td>
					<span style="font-style:italic;">{{ro.h}}</span>
					{{ro.b}} <p>&nbsp;</p>
				</td>
			</tr>
		</table>
		<br>
		<span style="float:left;">
			<button class="button" ng-click="toggle('showAsmntResults', 'showAsmnts')">
				<i class="icon ion-chevron-left"></i>
			</button>			
		</span>		
	</div>


	<!-- CAREER PERSONALITY RESULTS -->
	<div id="showPersonalityResults" hidden="true" style="padding:20px;">

		<table style="margin:auto; background-color:white; border:15px solid white;">
			<tr>
				<td colspan="3"><h4 style="font-family: 'Montserrat'; padding-bottom:10px;">{{header}}</h4></td>				
			</tr>
			<tr ng-repeat="(key, val) in resultObjects track by $index">
				<td align="center" style="width:15%;">
					<span class="circleAsmntResults">
						{{val}}
					</span>
				</td>
				<td>
					<span style="font-style:italic;">{{key}}</span>
					<p>&nbsp;</p>
					<!-- {{ro.b}} <p>&nbsp;</p> -->
				</td>
			</tr>
		</table>
		<br>
		<span style="float:left;">
			<button class="button" ng-click="toggle('showPersonalityResults', 'showAsmnts')">
				<i class="icon ion-chevron-left"></i>
			</button>			
		</span>		
	</div>

</ion-content>

<!-- A list with a drop-up list to access any assessment -->
<!-- List must be outside of our ion-content tag for the fixed position to work -->
<div id="showMenu" align="center">
Assessments &nbsp;|&nbsp;<i class="icon ion-arrow-up-b"></i>
</div>
<!-- Assessment Links Menu -->
<div id="asmntMenu" hidden="true">
	<span ui-sref="content.sections({'folder':'assessment', 'file':'personality.html'})">Career Personality</span>
	<hr>
	<span ui-sref="msi_communication">Motivated Skills Inventory</span>
	<hr>
	<span ui-sref="workValues">Work Values & Priorities</span>
	<hr>
	<span ui-sref="keyKnowledge">Key Knowledge Areas</span>
	<hr>
	<span ui-sref="lifeInterests">Life Interests & Passions</span>
	<hr>
	<span ui-sref="lifeWorkEnvironment">Life & Work Environment</span>
	<hr>
	<span ui-sref="goalSetting">Goal Setting & Time Management</span>
	<hr>
</div>

<!-- Message displayed if no results are present -->
<div id="nullMessage" 
		style="font-size:25px;
		font-family:'Montserrat';
		color:white;
		position:fixed;
		top:40%;"
>
	<p align="center">
		No Assessments Present...
	</p>
</div>