<md-content class="md-padding">
<div layout="column" layout-fill>
   <div class="list">

	  <a class="item item-icon-left" ui-sref="binder-ideas">
		<i class="icon ion-ios7-lightbulb-outline"></i>
		Ideas and Inspirations
	  </a>

	  <a class="item item-icon-left" ui-sref="binder-calendar">
		<i class="icon ion-calendar"></i>
		Calendar
	  </a>

	  <a class="item item-icon-left" ui-sref="binder-toDo">
		<i class="icon ion-clipboard"></i>
		To-Do-List
	  </a>
	  
	  <a class="item item-icon-left" href="#">
		<i class="icon ion-map"></i>
		Career Plan/Job Search Strategy
	  </a>
	  
	  <a class="item item-icon-left" ui-sref="binder-contacts">
		<i class="icon ion-person-stalker"></i>
		Professional Contacts
		<span class="badge badge-assertive">{{count}}</span>
	  </a>
	  
	  <a class="item item-icon-left" ui-sref="binder-jobApps">
		<i class="icon ion-document-text"></i>
		Job Applications/Resumes Sent
	  </a>

   </div>
  </md-content>
</div >
