
<table>
	<!-- <tr>
		<th>IonPopup Template</th>
	</tr> -->
	<tr>
		<td>Title</td>
	</tr>
	<tr>
		<td><input type="text" ng-model="obj.title"></td>
	</tr>

	<tr>
		<td>Start Time:</td>
	</tr>
	<tr>
		<td> <timepicker ng-model="event.timeStart" ng-change="changeStart()" hour-step="1" minute-step="1" show-meridian="true"></timepicker></td>
	</tr>

	<tr>
		<td>End Time:</td>
	</tr>

	<tr>
		<td><timepicker ng-model="event.timeEnd" ng-change="changeEnd()" hour-step="1" minute-step="1" show-meridian="true"></timepicker></td>
	</tr>

</table>
