
<table>
	<!-- <tr>
		<th>IonPopup Template</th>
	</tr> -->
	<tr>
		<td>Date Applied:</td>
	</tr>
	<tr>
		<td><input type="text" ng-model="obj.date"></td>
	</tr>

	<tr>
		<td>Company:</td>
	</tr>
	<tr>
		<td><input type="text" ng-model="obj.company"></td>
	</tr>

	<tr>
		<td>Position Title:</td>
	</tr>

	<tr>
		<td><input type="text" ng-model="obj.jobTitle"></td>
	</tr>

	<tr>
		<td>Position Description:</td>
	</tr>
	<tr>
		<td><input type="text" ng-model="obj.posDesc"></td>
	</tr>


	<tr>
		<td>Notes:</td>
	</tr>
	<tr>
		<td><input type="text" ng-model="obj.notes"></td>
	</tr>
</table>
