<div class="row binder">
		<button class="col b-1" ui-sref="binder-ideas">
		    <i class="icon ion-ios7-lightbulb-outline"></i>
			<span>Ideas & Inspiration</span>
		</button>
	
		<button class="col b-2" ui-sref="binder-calendar">
			<i class="icon ion-calendar"></i>
			<span>Calendar</span>
		</button>
	</div>
	
	<div class="row binder">
		<button class="col b-3" ui-sref="binder-toDo">
			<i class="icon ion-clipboard"></i>
			<span>To-Do-List <span class="badge badge-assertive">{{count}}</span></span>
		</button>
		<button class="col b-4" ui-sref="binder-calendar">
			<i class="icon ion-map"></i>
			<span>Self-Assessment Results</span>	
		</button>
	</div>
	
	<div class="row binder">
		<button class="col b-5" ui-sref="binder-contacts">
		<i class="icon ion-person-stalker"></i>
			<span>Professional Contacts</span>
		  </a>
		</button>
		<button class="col b-6" ui-sref="binder-jobApps">
		<i class="icon ion-document-text"></i>
			<span>Job Applications/Resumes Sent</span>
		</button>
	</div>
</div>
	
