<ion-content class="ideas-folder" title="Ideas/Inspirations" ng-controller="IdeaCtrl">
	<h3 align="center" style="padding-top:20px; color:white;">Ideas & Inspirations</h3>

	  <div class="idea-card" ng-repeat="ideas in output() track by $index">
	    <div class="header">
          <div class="idea-date">{{ ideas.date }}</div>
		  <div class="idea-edit">
		    <a class="button button-icon ion-edit" ng-click="editIdea($index)"></a>
		    <a class="button button-icon ion-close-round" ng-click="removeIdea($index)"></a>			
		  </div>
		</div>
		<div class="idea-content">
		  {{ ideas.title }}
		</div>
	  </div>

	  <div class="button-bar">
		<a  class="button button-icon icon ion-plus-circled idea-add" ng-click="addIdea()"></a>
	  </div>


</ion-content>
