<ion-content class="toDo-folder" ng-controller="ToDoCtrl" ng-init="removeAll()">
	<h3 align="center" style="padding-top:20px; color:white;">To-Do List</h3>
	<ion-list>
	   <ion-item class="item-icon-right repeat-item" ng-repeat="list in output() track by $index">
            <div class="item-checkbox">
                <label class="checkbox circle">
                    <input type="checkbox"
                           ng-model="list.done" ng-click="finished($index)">
                </label>
				<div class="toDo-content">
                <span ng-class="{done: list.done}">{{list.title}}</span>
				<div class="top-right">
				<span ng-class="{done: list.done}">{{ " Due by " + list.end}}</span>
				</div>
				</div>
            </div>
            <i class="icon ion-ios-arrow-left"></i>
            <ion-option-button class="button button-icon ion-edit" ng-click="editToDo($index)"></ion-option-button>
            <ion-option-button class="button button-icon ion-close-round" ng-click="removeItem($index)"></ion-option-button>
        </ion-item>
    </ion-list>
	
	
	<div class="button-bar">
		<a class="button button-icon icon ion-plus-circled toDo-add" ng-click="addToDo()"></a>
	</div>
	
</ion-content>
