<div title="Motivated Skills Inventory" ng-controller="comsCtrl">
	<div ng-controller="leadershipCtrl" ng-init="setScreen()">
		<h2>Project Management - Leadership</h2>
		<table style="width:100%; border:1px solid black;">
			<tr>
				<th style="width: 60%;"><h4>Question</h4></th>
				<th style="max-width: 20%;"><h4>Skill Level</h4></th>
				<th style="max-width: 20%;"><h4>Motivation</h4></th>
			</tr>

			<!-- --------- -->
			<!-- FIRST ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ leadershipQuestions.mgmtHead}}</b>{{leadershipQuestions.mgmtBody}} 
				</td>

				<td>
					<ion-radio name="mgmtSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.mgmtSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="mgmtMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.mgmtMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>

			<!-- --------- -->
			<!-- SECOND ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ leadershipQuestions.planningHead}}</b>{{leadershipQuestions.planningBody}} 
				</td>

				<td>
					<ion-radio name="planningSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.planningSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="planningMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.planningMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>


			<!-- --------- -->
			<!-- THIRD ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ leadershipQuestions.organizationHead}}</b>{{leadershipQuestions.organizationBody}} 
				</td>

				<td>
					<ion-radio name="organizationSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.organizationSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="organizationMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.organizationMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>


			<!-- --------- -->
			<!-- FOURTH ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ leadershipQuestions.detailmgmtHead}}</b>{{leadershipQuestions.detailmgmtBody}} 
				</td>

				<td>
					<ion-radio name="detailmgmtSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.detailmgmtSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="detailmgmtMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.detailmgmtMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>


			<!-- --------- -->
			<!-- FIFTH ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ leadershipQuestions.decisionHead}}</b>{{leadershipQuestions.decisionBody}} 
				</td>

				<td>
					<ion-radio name="decisionSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.decisionSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="decisionMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.decisionMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>
		</table>

		<button class="button" ng-click="toMainMenu()">
	  	Menu
	  	</button>
	  	<button class="button" ng-click="commitVals()" ui-sref="msi_results">
	  	See Results
	  	</button>
	</div>
</div>