<div title="Motivated Skills Inventory" ng-controller="comsCtrl">
	<div ng-controller="marketCtrl" ng-init="setScreen()">
	<!-- <ion-content has-header="true" align="center"> -->
		<h2>Marketing, Public Relations, and Customer Service Skills</h2>

		<table style="width:100%; border:1px solid black;">
			<tr>
				<th style="width: 60%;"><h4>Question</h4></th>
				<th style="max-width: 20%;"><h4>Skill Level</h4></th>
				<th style="max-width: 20%;"><h4>Motivation</h4></th>
			</tr>

			<!-- --------- -->
			<!-- FIRST ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ marketQuestions.socialHead}}</b>{{marketQuestions.socialBody}} 
				</td>

				<td>
					<ion-radio name="socialSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.socialSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="socialMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.socialMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>

			<!-- --------- -->
			<!-- SECOND ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ marketQuestions.PRHead}}</b> {{marketQuestions.PRBody}} 
				</td>

				<td>
					<ion-radio name="PRSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.PRSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="PRMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.PRMVal">
						{{ item.text }}
					</ion-radio>
				</td>
				<br />
			</tr>

			<!-- --------- -->
			<!-- THIRD ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ marketQuestions.custservHead}}</b> {{marketQuestions.custservBody}} 
				</td>

				<td>
					<ion-radio name="custservSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.custservSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="custservMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.custservMVal">
						{{ item.text }}
					</ion-radio>
				</td>
				<br />
			</tr>

			<!-- --------- -->
			<!-- FOURTH ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ marketQuestions.marketsalesHead}}</b> {{marketQuestions.marketsalesBody}} 
				</td>

				<td>
					<ion-radio name="marketsalesSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.marketsalesSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="marketsalesMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.marketsalesMVal">
						{{ item.text }}
					</ion-radio>
				</td>
				
			</tr>


			<!-- --------- -->
			<!-- FIFTH ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ marketQuestions.profHead}}</b> {{marketQuestions.profBody}} 
				</td>

				<td>
					<ion-radio name="profSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.profSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="profMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.profMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>


			<!-- --------- -->
			<!-- SIXTH ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ marketQuestions.improvementHead}}</b> {{marketQuestions.improvementBody}} 
				</td>

				<td>
					<ion-radio name="improvementSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.improvementSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="improvementMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.improvementMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>
		</table>

		<button class="button" ng-click="commitVals()" ui-sref="msi_results">
	  	See Results
	  	</button>
	  	<button class="button" ng-click="commitVals()" ui-sref="msi_qa">
	  	Next
	  	</button>
	</div>
</div>