<div title="Motivated Skills Inventory" ng-controller="comsCtrl">
	<div ng-controller="teachingCtrl">
		<h2>Teaching, Training, Instructing, or Counseling</h2>
		<table style="width:100%; border:1px solid black;">
			<tr>
				<th style="width: 60%;"><h4>Question</h4></th>
				<th style="max-width: 20%;"><h4>Skill Level</h4></th>
				<th style="max-width: 20%;"><h4>Motivation</h4></th>
			</tr>

			<!-- --------- -->
			<!-- FIRST ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ teachingQuestions.teachingHead}}</b>{{teachingQuestions.teachingBody}} 
				</td>

				<td>
					<ion-radio name="teachingSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.teachingSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="teachingMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.teachingMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>

			<!-- --------- -->
			<!-- SECOND ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ teachingQuestions.coachingHead}}</b>{{teachingQuestions.coachingBody}} 
				</td>

				<td>
					<ion-radio name="coachingSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.coachingSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="coachingMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.coachingMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>


			<!-- --------- -->
			<!-- THIRD ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ teachingQuestions.counselingHead}}</b>{{teachingQuestions.counselingBody}} 
				</td>

				<td>
					<ion-radio name="counselingSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.counselingSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="counselingMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.counselingMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>
		</table>

		<button class="button" ng-click="toMainMenu()">
	  	Menu
	  	</button>
	  	<button class="button" ng-click="commitVals()" ui-sref="msi_leadership">
	  	Next
	  	</button>
	</div>
</div>