<div title="Motivated Skills Inventory" ng-controller="comsCtrl">
	<!-- <ion-content has-header="true" align="center"> -->
	<div ng-controller="qaCtrl">
		<h2>Quantitative Analysis Skills</h2>
		<table style="width:100%; border:1px solid black;">
			<tr>
				<th style="width: 60%;"><h4>Question</h4></th>
				<th style="max-width: 20%;"><h4>Skill Level</h4></th>
				<th style="max-width: 20%;"><h4>Motivation</h4></th>
			</tr>

			<!-- --------- -->
			<!-- FIRST ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ qaQuestions.compspeedHead}}</b>{{qaQuestions.compspeedBody}} 
				</td>

				<td>
					<ion-radio name="compspeedSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.compspeedSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="compspeedMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.compspeedMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>

			<!-- --------- -->
			<!-- SECOND ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ qaQuestions.numcrunchHead}}</b>{{qaQuestions.numcrunchBody}} 
				</td>

				<td>
					<ion-radio name="numcrunchSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.numcrunchSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="numcrunchMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.numcrunchMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>

			<!-- --------- -->
			<!-- THIRD ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ qaQuestions.probsolvHead}}</b>{{qaQuestions.probsolvBody}} 
				</td>

				<td>
					<ion-radio name="probsolvSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.probsolvSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="probsolvMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.probsolvMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>

			<!-- --------- -->
			<!-- FOURTH ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ qaQuestions.computerHead}}</b>{{qaQuestions.computerBody}} 
				</td>

				<td>
					<ion-radio name="computerSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.computerSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="computerMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.computerMVal">
						{{ item.text }}
					</ion-radio>
				</td>				
			</tr>
		</table>

		<button class="button" ng-click="commitVals()" ui-sref="msi_results">
	  	See Results
	  	</button>
	  	<button class="button" ng-click="commitVals()" ui-sref="msi_analytics">
	  	Next
	  	</button>
	<!-- </ion-content> -->
	</div>
</div>