<div title="Motivated Skills Inventory" ng-controller="comsCtrl">
	<div ng-controller="innovationCtrl" ng-init="setScreen()">
		<h2 style="padding-top:4%;padding-left:4%;">Creativity and Innovation</h2>
		<table style="width:90%; margin:auto;">
			<tr>
				<th style="width: 60%;"><h4>Question</h4></th>
				<th style="max-width: 20%;"><h4>Skill Level</h4></th>
				<th style="max-width: 20%;"><h4>Motivation</h4></th>
			</tr>

			<!-- --------- -->
			<!-- FIRST ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ innovationQuestions.artHead}}</b>{{innovationQuestions.artBody}} 
				</td>

				<td>
					<ion-radio name="artSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.artSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="artMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.artMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>

			<!-- --------- -->
			<!-- SECOND ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ innovationQuestions.creativeHead}}</b>{{innovationQuestions.creativeBody}} 
				</td>

				<td>
					<ion-radio name="creativeSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.creativeSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="creativeMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.creativeMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>
		</table>

		<button class="button" ng-click="toMainMenu()">
	  	Menu
	  	</button>
	  	<button class="button" ng-click="commitVals()" ui-sref="msi_teaching">
	  	Next
	  	</button>
	</div>
</div>