<div title="Motivated Skills Inventory" ng-controller="comsCtrl">
	<div ng-controller="techReasonCtrl" ng-init="setScreen()">
		<h2 style="padding-top:4%;padding-left:4%;">Technical Reasoning</h2>
		<table style="width:90%; margin:auto;">
			<tr>
				<th style="width: 60%;"><h4>Question</h4></th>
				<th style="max-width: 20%;"><h4>Skill Level</h4></th>
				<th style="max-width: 20%;"><h4>Motivation</h4></th>
			</tr>

			<!-- --------- -->
			<!-- FIRST ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ techReasonQuestions.mechanicalHead}}</b>{{techReasonQuestions.mechanicalBody}} 
				</td>

				<td>
					<ion-radio name="mechanicalSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.mechanicalSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="mechanicalMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.mechanicalMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>

			<!-- --------- -->
			<!-- SECOND ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ techReasonQuestions.spatialHead}}</b>{{techReasonQuestions.spatialBody}} 
				</td>

				<td>
					<ion-radio name="spatialSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.spatialSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="spatialMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.spatialMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>

			<!-- --------- -->
			<!-- THIRD ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ techReasonQuestions.outdoorHead}}</b>{{techReasonQuestions.outdoorBody}} 
				</td>

				<td>
					<ion-radio name="outdoorSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.outdoorSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="outdoorMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.outdoorMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>


			<!-- --------- -->
			<!-- FOURTH ROW -->
			<!-- --------- -->
			<tr>
				<td>
					<b>{{ techReasonQuestions.tspbHead}}</b>{{techReasonQuestions.tspbBody}} 
				</td>

				<td>
					<ion-radio name="tspbSkills" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.tspbSVal">
						{{ item.text }}
					</ion-radio>
				</td>				
				<td>
					<ion-radio name="tspbMotivation" ng-repeat="item in buttons" ng-value="item.value" ng-model="data.tspbMVal">
						{{ item.text }}
					</ion-radio>
				</td>
			</tr>
		</table>

		<!-- <button class="button" ng-click="commitVals()" ui-sref="msi_results">
	  	See Results
	  	</button> -->
	  	<button class="button button-block button-balanced" ng-click="commitVals()" ui-sref="msi_innovative">
	  	Next
	  	</button>
	</div>
</div>