/* Assessment Results */

.resultFormat {
  padding-top:4%;
  padding-left:4%;
}

.asmntResults-row {
  width:75%;
  margin:auto;
  margin-bottom:1em;
  
  background-color:white;
  padding:20px;
  font-size:25px;
  font-family:'Montserrat';
}

.circleAsmntResults {
  border-radius: 50%;
  border: 1px solid black;
  width:12px;
  height:12px;
  padding:10px;
}

/* CSS for asmnt list menu */
#showMenu {
  position:fixed; 
  width:150px;
  bottom:1%;
  right:2%;
  background-color:#333333;
  color:white;
  padding:10px;
  border-radius:10px;
}

#asmntMenu {
  position:fixed;
  width:150px;
  bottom:6%;
  right:2%;
  background-color:#333333;
  color:white;
  padding:10px;
  padding-bottom:5px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  z-index:2;
}

/* CSS for Goal Setting Assessment */

.connectedSortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: center;
    margin-right: 0px;
    background: #fff;
    padding: 5px;
}

.i-center {
  margin: auto;
  max-width: 200px;
}