.vert-graph-header {
	
	-ms-transform:rotate(-90deg);
	-webki-transform:rotate(-90deg);
	transform:rotate(-90deg);
	color:white;
	position:fixed;
	/*padding-left:;*/
	top:48%;
	left:-15%;
	display:block;
}

.vert-100 {
	/*-ms-transform:rotate(-90deg);
	-webki-transform:rotate(-90deg);
	transform:rotate(-90deg);*/
	color:white;
	/*padding-left:15px;*/
	position:fixed;
	padding-top:0%;
	padding-left:13%;
	z-index:-1;
	/*display:block;*/
}

.vert-50 {
	color:white;
	/*padding-top:150px;
	padding-left:15px;*/
	position:fixed;
	padding-top:90px;
	padding-left:14%;
	display:block;
	z-index:-1;
}

.vert-0 {
	color:white;
	position:fixed;
	padding-top:178px;
	padding-left:15%;
	display:block;
	z-index:-1;
}


.x-axis-one {
	color:white;
	font-size:12px;
	position:fixed;
	padding-top:0px;
	left:29%;
	display:block;
	z-index:-1;
}

.x-axis-two {
	color:white;
	font-size:12px;
	position:fixed;
	/*top:63%;*/
	left:37%;
	display:block;
	z-index:-1;
}

.x-axis-three {
	color:white;
	font-size:12px;
	position:fixed;
	/*top:63%;*/
	left:45%;
	display:block;
	z-index:-1;
}


.x-axis-four {
	color:white;
	font-size:12px;
	position:fixed;
	/*top:63%;*/
	left:54%;
	display:block;
	z-index:-1;
}

.x-axis-five {
	position:fixed;
	color:white;
	font-size:12px;
	/*top:63%;*/
	left:62%;
	display:block;
	z-index:-1;
}

.x-axis-six {
	position:fixed;
	color:white;
	font-size:12px;
	/*top:63%;*/
	left:70%;
	display:block;
	z-index:-1;
}