/*Wraps all sections and subsections
!Does not include Header section
*/

.content-wrapper {
  text-align: justify;
  padding: 0px 20px 0px 20px;
}

.content-wrapper p {
  font-family: 'Tinos',sans-serif;
  font-size: 18px;
  vertical-align: baseline;
  line-height: 1.6em;
  padding-top:10px;
}
.content-wrapper ul {
  font-family: 'Tinos',sans-serif;
font-size: 18px;
margin-left:15px;
list-style: circle;
}
.content-wrapper ul li {
  padding-top:10px;
}

div.next-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.next-section button{
  font-family: 'Montserrat', sans-serif;
  margin:10px;
  margin-bottom: 20px;
}

.right{
    position: absolute;
    top: -5px;
    right: 20px;
}

.done {
  text-decoration: line-through;
}

.small-icons {
  width: 40px;
  background: hsl(0, 0%, 0%);
  float: left;
  margin-right: 5px;
}