/*
User Profile Page Specific Styles
 */

.profile {
   background-color: #989898;
   color:white;
}

.profile blockquote {
  border:none;
  display:block;
  margin:auto;
  padding-left:30px;
  padding-right:30px;

}
.profile blockquote p {
    text-align: justify;
}

.user-profile-blank {
  color:black;
  font-size: 200px;
}

span.input-label.has-input{
  font-size: 12px;

}

#profilePic {
  max-width: 300px;
  max-height: 300px;
  height:auto;
   display:block;
    margin:auto;
}

.edit-photo {
 display:block;
    margin:auto;
}

.profile .list {
  padding-left:30px;
  padding-right:30px;

}
.list .item {
    background-color: white;
    margin-bottom: 20px;
}
.list input {
  font-family: Montserrat;
}
ion-side-menu-content.frosted {
   /*-webkit-filter: blur(6px);
    filter: blur(6px);*/
}

#introModalParent {
  display: -webkit-flex; /* Safari */
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

#introModal {

  /*position: inherit;*/
  
  height: 100%;

  top: 0%; width: 100%; left: 0%;
 min-height: 0;
 background-color:#04402e;

}

#centerLogo{
  max-width:50%;
    margin:auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

#introModal ion-slide.slider-slide img{
  width: 50%;
}

#introModal .slider {
  height:100%;
}

#introModal ion-slide{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
      -webkit-flex-direction: column;
   -ms-flex-direction: column;
       flex-direction: column;
}

#introModal ion-slide  h1 {
  text-align: center;
  margin:10px;
  color: white;
  font-family: Montserrat;
}

#introModal ion-slide  p {
  text-align: center;
  margin:10px;
  color: white;
  font-family: Montserrat;
}