/*
User Profile Page Specific Styles
 */

.profile {
   background-color: #989898;
   color:white;
}

.profile blockquote {
  border:none;
  display:block;
  margin:auto;
  padding-left:30px;
  padding-right:30px;

}
.profile blockquote p {
    text-align: justify;
}

.user-profile-blank {
  color:black;
  font-size: 200px;
}

span.input-label.has-input{
  font-size: 12px;

}

#profilePic {
  max-width: 300px;
  max-height: 300px;
  height:auto;
   display:block;
    margin:auto;
}

.edit-photo {
 display:block;
    margin:auto;
}

.profile .list {
  padding-left:30px;
  padding-right:30px;

}
.list .item {
    background-color: white;
    margin-bottom: 20px;
}
.list input {
  font-family: Montserrat;
}