

.done {
  text-decoration: line-through;
}

.right{
    position: absolute;
    top: -5px;
    right: 20px;
}
i.icon {
	color: white;
	pointer-events:none;
}
i.icon.highlight {
	color:grey;
}
.i24 {
	font-size: 24px;
}

.i48 {
	font-size: 48px;
}

