

body {

}
section.lead-in h3{
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		text-align: start;
		font-size: 48px;
		padding:30px 20px 30px 20px;
}

.timeline {
	font-family: 'Montserrat', sans-serif;
}

.timeline h3 {
	padding: 30px 10px 5px 10px;
	color:white;
	text-transform: capitalize;
	margin-bottom:30px;
}


.timeline section {
background: grey;
}

.timeline ul.sub-section li {
	padding-left: 45px;
	padding-bottom:30px;
}

/*Wraps all sections and subsections
!Does not include Header section
*/

.content-wrapper {
	text-align: justify;
	padding: 0px 20px 0px 20px;
}

.content-wrapper p {
	font-family: 'Tinos',sans-serif;
	font-size: 18px;
	vertical-align: baseline;
	line-height: 1.6em
}

div.next-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.next-section button{
	font-family: 'Montserrat', sans-serif;
	margin:10px;
	margin-bottom: 20px;
}

.right{
    position: absolute;
    top: -5px;
    right: 20px;
}

.done {
  text-decoration: line-through;
}

i.icon.header {
	color: white;
	pointer-events:none;
}
i.icon.highlight {
	color:grey;
}

.i24 {
	font-size: 24px;
}

.i48 {
	font-size: 48px;
}

.dark-grey {
color: #2b2b2b;
}
.light-gray {
	color: #989898;
}

.accent-blue {
	color: #264556;
}

.accent-green {
	color: #043f2e;
}

.accent-yellow {
	color: #efaf20;
}

.right{
    position: absolute;
    top: -5px;
    right: 20px;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  src: local('Tinos'), url(fonts/Tinos/Tinos-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@font-face {
  font-family: 'Tinos';
  font-style: italic;
  font-weight: 400;
  src: local('Tinos Italic'), local('Tinos-Italic'), url(fonts/Tinos/Tinos-Italic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 700;
  src: local('Tinos Bold'), local('Tinos-Bold'), url(fonts/Tinos/Tinos-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/*
User Profile Page Specific Styles
 */

.user-profile-blank {
  color:black;
  font-size: 200px;
}

span.input-label.has-input{
  font-size: 12px;

}