

body {


}


.header-bar {
  background-color: #2b2b2b;
  

}

.scroll{height: 100%;}

[ui-view] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
-webkit-flex-direction: column;
    -ms-flex-direction: column;
        flex-direction: column;
height: 100%;
}
.header-bar h1.title {
  color:white;
  font-weight: 300;
}
.header-bar button {
  color:white;
}
section.lead-in h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: start;
    font-size: 48px;
    padding:30px 20px 30px 20px;
}

.timeline {
  font-family: 'Montserrat', sans-serif;
}

.timeline h3 {
  padding: 30px 10px 5px 10px;
  color:white;
  text-transform: capitalize;
  margin-bottom:30px;
}


.timeline section {
background: grey;
}

.timeline ul.sub-section li {
  padding-left: 45px;
  padding-bottom:30px;
}

/*Wraps all sections and subsections
!Does not include Header section
*/

.content-wrapper {
  text-align: justify;
  padding: 0px 20px 0px 20px;
}

.content-wrapper p {
  font-family: 'Tinos',sans-serif;
  font-size: 18px;
  vertical-align: baseline;
  line-height: 1.6em
}
.content-wrapper ul {
  font-family: 'Tinos',sans-serif;
font-size: 18px;
margin: 10px;
margin-left:30px;
list-style: circle;
}
.content-wrapper ul li {
  padding-top:10px;
}

div.next-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.next-section button{
  font-family: 'Montserrat', sans-serif;
  margin:10px;
  margin-bottom: 20px;
}

.right{
    position: absolute;
    top: -5px;
    right: 20px;
}

.done {
  text-decoration: line-through;
}

i.icon.header {
  color: white;
  pointer-events:none;
}
i.icon.highlight {
  color:grey;
}

.i24 {
  font-size: 24px;
}

.i48 {
  font-size: 48px;
}

.dark-grey {
color: #2b2b2b;
}

.button.button-positive {
  background-color: #2b2b2b;
    border:none;  
}

.button.button-positive.active, .button.button-positive.activated {
  background-color: #989898;
  border:none;
}
.light-gray {
  color: #989898;
}

.accent-blue {
  color: #264556;
}

.accent-green {
  color: #043f2e;
}


.accent-yellow {
  color: #efaf20;
}

.right{
    position: absolute;
    top: -5px;
    right: 20px;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  src: local('Tinos'), url(fonts/Tinos/Tinos-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@font-face {
  font-family: 'Tinos';
  font-style: italic;
  font-weight: 400;
  src: local('Tinos Italic'), local('Tinos-Italic'), url(fonts/Tinos/Tinos-Italic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 700;
  src: local('Tinos Bold'), local('Tinos-Bold'), url(fonts/Tinos/Tinos-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/Open_Sans/OpenSans-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/*
User Profile Page Specific Styles
 */

.profile {
   background-color: #989898;
   color:white;
}

.profile blockquote {
  border:none;
  display:block;
  margin:auto;
  padding-left:30px;
  padding-right:30px;

}
.profile blockquote p {
    text-align: justify;
}

.user-profile-blank {
  color:black;
  font-size: 200px;
}

span.input-label.has-input{
  font-size: 12px;

}

#profilePic {
  max-width: 300px;
  max-height: 300px;
  height:auto;
   display:block;
    margin:auto;
}

.edit-photo {
 display:block;
    margin:auto;
}

.profile .list {
  padding-left:30px;
  padding-right:30px;

}
.list .item {
    background-color: white;
    margin-bottom: 20px;
}
.list input {
  font-family: Montserrat;
}
/*Holland assessment*/

#radar-chart {

   width: 100% !important;
    max-width: 800px;
        height: auto !important;

}

.compare-or {
  text-align: center;
}



/*
Binder
 */

.row.binder {
  padding:0px;
  -webkit-flex:1;
      -ms-flex:1;
          flex:1;
}

.binder i  {
font-size: 30px;
display: block;
text-align: center;
}
.binder button {
  border:none;
  color:white;
  padding-bottom: 15px;
}


.b-1 {
background-color:rgb(35,128,99);
}

.b-2 {
  background-color:rgb(72,193,153);
}
.b-3{
    background-color:rgb(4,63,46);

}
.b-4{
    background-color:rgb(84,140,122);

}
.b-5 {
    background-color:rgb(72,193,153);

}
.b-6 {
    background-color:rgb(29,130,99);

}




.asmntResults-row {
  width:75%;
  margin:auto;
  margin-bottom:1em;
  
  background-color:white;
  padding:20px;
  font-size:25px;
  font-family:'Montserrat';
}

.circleAsmntResults {
  border-radius: 50%;
  border: 1px solid black;
  width:12px;
  height:12px;
  padding:10px;
}

/* Ideas */

.ideas-folder {
  background-color: rgb(233,182,74);
  font-family: Montserrat;
}

.idea-card {
  padding-left:30px;
  padding-right: 30px;
  margin-top:20px;
  margin-bottom:20px;
}

.idea-card .header {
 
  background-color: rgb(201,151,45);
  color:white;
  height:50px;
}
.idea-date {
   float:left;
  line-height: 50px;
  padding-left: 10px;
  text-align: left;
}

.idea-edit {
  float:right;
}

.idea-content {
  background-color: white;
  padding: 30px;
font-family: 'Open Sans';
  font-weight: 300;
}
.ideas-folder a.idea-add {
  color:white;
}

.idea-card .header .idea-edit a {
  color:white;
}

