<ion-content scroll="true" zoom="xy" direction="xy">
<div class="goals-priority">
<div ng-controller="asmntInputCtrl" ng-init="getVals()">

	<h3 style="color: rgb(0, 0, 102); padding-top:4%;" align="center">
		Prioritize and rank your goals by dragging and dropping them to the right
	</h3>
	<div class="row">
		<div class="col-md-4 column">
			<table style="margin:auto;">
				<tr style="color:rgb(0, 0, 102); font-size:20px; font-weight:bold;">
					<td style="padding:10px;" align="center">Your Goals</td>
				</tr>
				<tr>
					<td align="center">
						<ul id="sortableGoals" class="connectedSortable" align="center">
							<li style="margin:13px; padding:5px; border:1px solid black;" ng-repeat="v in results track by $index">
								{{ v }}
							</li>
						</ul>	
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-8 column">
			<table style="margin:auto;">
				
				<tr style="color:rgb(0, 0, 102); font-size:20px; font-weight:bold;">
					<td style="padding:10px; width:5%;">Rank</td>
					<td align="center">High Priority</td>
				</tr>

				<tr>
					<td style="padding:10px; color:rgb(0, 0, 102); font-size:20px; font-weight:bold;">1<br><br>2<br><br>3</td>
					<td align="center">
						<ul id="sortableGoalsHigh" class="connectedSortable" align="center">
							
						</ul>
					</td>
				</tr>
			</table>
			
			<table style="margin:auto;">
				<tr style="color:rgb(0, 0, 102); font-size:20px; font-weight:bold;">
					<td style="padding:10px; width:10%;">Rank</td>
					<td align="center">Medium Priority</td>
				</tr>

				<tr>
					<td style="padding:10px; color:rgb(0, 0, 102); font-size:20px; font-weight:bold;">1<br><br>2<br><br>3</td>
					<td align="center">
						<ul id="sortableGoalsMed" class="connectedSortable" align="center">

						</ul>
					</td>
				</tr>
			</table>
			
			<table style="margin:auto;">
				<tr style="color:rgb(0, 0, 102); font-size:20px; font-weight:bold;">
					<td style="padding:10px; width:10%;">Rank</td>
					<td align="center">Low Priority</td>
				</tr>

				<tr>
					<td style="padding:10px; color:rgb(0, 0, 102); font-size:20px; font-weight:bold;">1<br><br>2<br><br>3</td>
					<td align="center">
						<ul id="sortableGoalsLow" class="connectedSortable" align="center">

						</ul>
					</td>
				</tr>
			</table>

		</div>
	</div>


		<div class="col-md-12 column text-center">
			<button class="button button-block" ng-click="pushGoalsHigh('goalSettingResults');">Finish your goals
			</button>
		</div>

</div>
</div>
</ion-content>