<div title="Life & Work Environment" ng-init="setScreen()" ng-controller="asmntInputCtrl">
	<div align="center">
		<h3 style="color: rgb(0, 0, 102); padding-top:4%;">
			Life & Work Environment Exercise
		</h3>
		<h4 style="color: rgb(0, 0, 102);">
			Fill in the blanks
		</h4>

		<!-- First section -->
		<hr>
		<div id="firstSection">
			<span style="color: rgb(0, 0, 102);">
				 Location/Life Style - What do you need in a location to thrive?
			</span>
			<ul class="list">
			<i>Examples:</i>
			<ul class="list">
				<li> small town,  big city</li>
				<li> affordable housing,  fancy housing</li>
				<li> short commute, commute doesn't matter</li>
				<li> opera,  museums,  classical music venues,  jazz clubs, major league sports</li>
				<li> close to family,  far from family</li>
				<li> schools for kids,  parks,  bike trails,  hiking trails,  close to beach,  skiing</li>
				<li> city experience with dense housing,  suburban experience,  rural environment</li>
				<li> cold weather,  hot weather,  don't mind if it rains or snows</li>
				<li> a college or university to continue studies</li>
				<li> cultural diversity and cultural associations, a welcoming religious community</li>
				<li> red state/blue state politics</li>
				<li> coffee houses,  fine dining,  fast food,  great pizza,  bookstores,  shopping malls</li>
			</ul>
			</ul>
		</div>
			<div id="first">
			
			<div class="row" style="text-align:center">
				<div style="margin:auto;" class="col col-center" id="location_yes">
					Things you must have: &emsp;<input type="text" id="location_yes1"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="location_yes2"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="location_yes3"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="location_yes4"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="location_yes5"
						style="border:1px solid black;"
					> &emsp; &emsp;
				</div>
				<div style="margin:auto;" class="col col-center" id="location_no">
					Things you can't stand: &emsp;<input type="text" id="location_no1"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="location_no2"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="location_no3"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="location_no4"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="location_no5"
						style="border:1px solid black;"
					> &emsp; &emsp;
				</div>

			</div>

		<hr>
		<!-- Second Section -->
		<div id="secondSection">
			<span style="color: rgb(0, 0, 102);">
			People - What qualities do you need in the people you work with?
			</span>
			<ul class="list">
			<i>Examples:</i>
			<ul class="list">
				<li> friendly and engaging people who help and support you with your work</li>
				<li> people who stick to themselves and leave you alone to do your own work</li>
				<li> people who are competent,  smart,  ambitious,  lazy,  intolerant,  overbearing,  uncooperative,  neat,  sloppy,  fun,  resentful,  opinionated</li>
				<li> people who like to socialize and involve you in family and off-the-job activities,  people who have their own lives away from work</li>
				<li> people you can go out with,  people who can help you meet other people</li>
				<li> people with kids,  people without kids</li>
				<li> people who like to dress up,  people who are ok with casual dress</li>
				<li> people who like fine things,  people with everyday tastes</li>
				<li> people with liberal politics,  people with conservative views,  people who have no views on politics,  sports and religion</li>
				<li> people who go to lunch with others,  people who bring their own lunch</li>
				<li> people who are talkative,  people who are quiet</li>
				<li> people who are just like you or people who are refreshingly different.</li>
			</ul>
			</ul>
		</div>
			<div id="second">
			
			<div class="row" style="text-align:center">
				<div style="margin:auto;" class="col col-center" id="people_no">
					People you want around:<input type="text" id="people_yes1"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="people_yes2"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="people_yes3"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="people_yes4"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="people_yes5"
						style="border:1px solid black;"
					> &emsp; &emsp;
				</div>
				<div style="margin:auto;" class="col col-center" id="people_no">
					People you can't stand: &emsp;<input type="text" id="people_no1"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="people_no2"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="people_no3"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="people_no4"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="people_no5"
						style="border:1px solid black;"
					> &emsp; &emsp;
				</div>

			</div>
			
			</div>

		<hr>
	<!-- Third Section -->
	<div id="thirdSection">
		<span style="color: rgb(0, 0, 102);">
		 Work Conditions - What do you need in your work environment to thrive?
		</span>
		<ul class="list">
		<i>Examples:</i>
		<ul class="list">
			<li> corporate culture:  clear mission,  employee oriented,  investor oriented,  customer oriented,  top down management,  flat organizational structure with autonomy for employees</li>
			<li> set own goals,  respond to the demands of managers</li>
			<li> stable operating conditions,  constant crisis mode</li>
			<li> micro-managing supervisors,  co-operative atmosphere,  grateful customers,  rude customers,  no customer contact,  frequent client contact</li>
			<li> flexible tasks and assignments,  routine tasks,  boring assignments,  constant challenges,  laid back atmosphere,  tight deadlines,  flexible goals</li>
			<li> frequent travel,  constant communications</li>
			<li> working in teams,  working alone,  work with others,  work in isolation</li>
			<li> training opportunities,  no need for further training</li>
			<li> individual workspace,  new equipment,  cramped quarters,  tiny cubicles,  clean work space,  cluttered  space,  windows,  break rooms</li>
			<li> physical amenities,  gymnasium,  lunch room,  catered lunches,  ping-pong table</li>
			<li> bicycle lockers and showers,  free parking</li>
			<li> in the city,  out in the country</li>
			<li> indoors,  outdoors</li>
		</ul>
		</ul>
	</div>
		<div id="third">

			<div class="row" style="text-align:center">
				<div style="margin:auto;" class="col col-center" id="work_yes">
					Things you must have: &emsp;<input type="text" id="work_yes1"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="work_yes2"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="work_yes3"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="work_yes4"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="work_yes5"
						style="border:1px solid black;"
					> &emsp; &emsp;
				</div>
				<div style="margin:auto;" class="col col-center" id="work_no">
					Things you don't need: &emsp;<input type="text" id="work_no1"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="work_no2"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="work_no3"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="work_no4"
						style="border:1px solid black;"
					> &emsp; &emsp;
					&emsp;<input type="text" id="work_no5"
						style="border:1px solid black;"
					> &emsp; &emsp;
				</div>
			
			</div>
		</div>
		
		<button class="button" ng-click="saveLifeWork('Life & Work Environment');">
			Save
		</button>
	</div>
</div>