<div title="Life Interests & Passions" ng-controller="asmntInputCtrl">
	<div align="center">
		<h4 style="color: rgb(0, 0, 102); padding-top:4%;">
			<strong>Finding Life Interests and Pursuing Your Passion</strong>
		</h4>
		<h4 style="color: rgb(0, 0, 102);">
			<strong>Fill in the blanks</strong>
		</h4>
		<hr>
		<p style="color: rgb(0, 0, 102);">This exercise meant to help you focus on interests that you might not ordinarily have thought about as the basis for a career opportunity. The idea is to spend some time thinking about what you really like to spend your time doing, and to think about how your your education, experience and skills might be used in an industry that is aligned with your interests.</p>
		<p style="color: rgb(0, 0, 102);"><strong>Start by making a list of your favorite things and favorite activities. Make your list at least ten items long to make sure you've considered everything that interests you.</strong></p>
	
	<div class="row">
	<div id="inputArea" class="col col-33 col-offset-33">
		<input type="text"
			style="border:1px solid black;"
		>
		<br>
		<input type="text"
			style="border:1px solid black;"
		>
		<br>
		<input type="text"
			style="border:1px solid black;"
		>
		<br>
		<input type="text"
			style="border:1px solid black;"
		>
		<br>
		<input type="text"
			style="border:1px solid black;"
		>
		<br>
		<input type="text"
			style="border:1px solid black;"
		>
		<br>
		<input type="text"
			style="border:1px solid black;"
		>
		<br>
		<input type="text"
			style="border:1px solid black;"
		>
		<br>
		<input type="text"
			style="border:1px solid black;"
		>
		<br>
		<input type="text"
			style="border:1px solid black;"
		>
		<br>
	</div>
	</div>
		<!-- Button to add text input -->
		<p>
			<button class="button" ng-click="addTextInput('#inputArea');">
				Add Text Area
			</button>
		</p>

		<p style="color: rgb(0, 0, 102);"><strong>On the next page, you are going to rank order your interests and passions.</strong></p>

		<button class="button" ng-click="pushVals('lifeInterestsResults');">
			Rank your life interests
		</button>
	</div>
</div>